@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');
/********** main-styles *************/
html{
   font-size: 10px;
}
.light-button{
    display: inline-block;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    box-sizing: border-box;
    border: 1px solid #00e0d0;
    border-radius: 2px;
    text-transform: uppercase;
    color: #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.6rem;
}
.light-button:active,.light-button:hover,.light-button:focus{
    text-decoration: none;
    color: #00e0d0;
}
.container-title{
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #413d4b;
}
/********* rnd main styles ***********/



/****************** HEADER ******************/
header{
    background: url("../img/header-bg.png") no-repeat center/cover;
    background-attachment: fixed;
    min-height: 700px;
    height: 100vh;
}
/************* navbar *********************/
.navbar{
    background-color: rgba(48, 41, 82, 0.7);
    font-family: 'Roboto', sans-serif;
}
.navbar-toggler-icon{

}
.navbar-dark .navbar-nav .nav-link{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    transition: color .3s linear;
}
.navbar-dark .navbar-nav .nav-link:focus,.navbar-dark .navbar-nav .nav-link:active{
    color: #fff;
}
.navbar-dark .navbar-nav .active .nav-link,.navbar-dark .navbar-nav .nav-link:hover{
    color: #00e0d0;
}

#header-carousel{
    min-height: 700px;
    height: 100vh;
}
#header-carousel .carousel-text{
    min-height: 700px;
    overflow: hidden;
    width: 100%;
}
#header-carousel .carousel-text h1{
    font-family: 'Playfair Display', serif;
    font-size: 3.2rem;
    font-weight: 600;
}
#header-carousel .carousel-text hr{
    margin-top: 27px;
    margin-bottom: 29px;
    border-top: 1px solid #00e0d0;
    width: 50px;
}
#header-carousel .carousel-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
}
.carousel-indicators{
    bottom: 70px;
}
.carousel-text{
   z-index: 1;
    color: white;
}
.carousel-indicators--round li {
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid #bbbbbd;
    background-color: transparent;
    box-sizing: border-box;
}
.carousel-indicators .active {
    background-color: #00e0d0;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
    border-color: #00e0d0;
}
.carousel-text .light-button{
    margin-top: 50px;
}
/********* end-navbar *******************/
/************* end header **************/


/******* story-container *************/
.story-container>.container{
    padding-top: 70px;
    padding-bottom: 70px;
}

.story-container p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    color: #716e78;
}
.story-container .container-title{
    margin-bottom: 30px;
}
/******** end story container **********/


/************ watch-story-container ********/
.watch-story-container{
    background: url("../img/story-bg.png") no-repeat center/cover;
    background-attachment: fixed;
}
.play-video-button{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 3px solid white;
    background: rgba(255,255,255,.0);
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background .3s linear;
    margin-top: 200px;
    margin-bottom: 35px;
}
.play-video-button:hover{
    background: rgba(0,224,208,1.0);
}
.play-video-button .triangle-circle-inner{
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 45px;
    margin-left: 10px;
}
.play-video-button .triangle-circle-inner{
    width: 35px;
    height: 45px;
}
.circle-button-description h6{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.watch-story-container .circle-button-description{
    margin-bottom: 200px;
}
/************** end watch-story-container*****/



/******** expertise-container ***********/
.expertise-container{
    padding-top: 70px;
    padding-bottom: 60px;
}
.expertise-container .container-title{
    margin-bottom: 15px;
}
.expertise-title p,.team-title p{
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.expertise-title p{
    color: #828186;
}
.expertise-title hr,.team-title hr{
    width: 50px;
    margin-bottom: 40px;
}
.expertise-title hr{
    border-top: 2px solid #c6c4c9;
}
.expertise-item{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 23px;
}
.expertise-item img{
    margin-bottom: 35px;
}
.expertise-item h5{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #413d4b;
    margin-bottom: 25px;
}
.expertise-item p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: #666666;
}
.expertise-items hr{
    border-top: 1px solid #ebebeb;
}
/********** end expertise-container *********/



/*********** team-container **************/
.team-container{
    background: url("../img/team-bg.png") no-repeat center/cover;
    background-attachment: fixed;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #fff;
}
.team-container .team-title .container-title{
    color: #fff;
}
.team-container .team-title p{
    color: #f9f9f9;
}
.team-container .team-title hr{
    border-top: 2px solid #3f3360;
}
.our-team-block .team-elem{
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.our-team-block .white-elem-img{
    background-color: white;
    height: 230px;
    margin-bottom: 0;
}
.our-team-block .team-elem .full-name,.quote-elem-description .full-name{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #f3f3f5;
    margin-bottom: 12px;
}
.our-team-block .team-elem .position,.quote-elem-description .position{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #afadbb;
}
.our-team-block .team-elem .team-elem-description{
    padding-top: 22px;
    padding-bottom: 25px;
    box-sizing: border-box;
    border: 1px solid #78778c;
}
.our-team-block{
    margin-bottom: 70px;
}
.join-us-group p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 30px;
}
/********** end team-container **************/


/************ our-works-container ***********/
.our-works-container{
    padding: 70px 0;
}
.our-works-container .our-works-header{
    margin-bottom: 62px;
}
.our-works-elements{
    margin-left: 0;
    margin-right: 0;
}
.our-works-elements>div{
    padding-left: 0;
    padding-right: 0;
}
.our-works-elem{
    background-color: gray;
    height: 200px;
}
.our-works-elements>div:nth-child(even)>div {
    background-color: lightgray;
}
.inverse-colors>div:nth-child(even)>div{
    background-color: gray;
}
.inverse-colors>div:nth-child(odd)>div{
    background-color: lightgray;
}
.our-works-container .light-button{
    margin-top: 70px;
}
/*********** end our-works-container **********/

/************* reviews-container **************/
.reviews-container{
    background: url("../img/reviews-bg.png") no-repeat center/cover;
    background-attachment: fixed;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #cccbd1;
}
.reviews-container .quote span{
    font-family: 'Playfair Display', serif;
    font-size: 10rem;
    color: #ebeaef;
}
.reviews-container .quote-text p{
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    margin-bottom: 50px;
}
#left-arrow,#right-arrow {
    display: inline-block;
    font-weight: 100;
    font-size: 46px;
    cursor: pointer;
    color: #9f9f9f;
    transition: color .2s linear;
}
#left-arrow .fa,#right-arrow .fa{
    font-size: 46px;
}
#left-arrow:hover,#right-arrow:hover{
    color: #fff;

}
#quote-profile-photos,.quote-profile-photo{
    display: inline-block;
}
.quote-profile-photo>img{
    transition: all .3s linear;
    width: 45px;
    height: 45px;
}
.quote-profile-photo-active>img{
    height: 70px;
    width: 70px;
}
#quote-hidden-storage{
    display: none;
}
.quote-profile-photo{
    transition: all .3s linear;
}
.hidden-profile-photo{
    height: 0;
    width: 0;
    opacity: .0;
}

.quote-text{
    max-height: 1200px;
    overflow: hidden;
    /* Set our transitions up. */
    -webkit-transition: max-height 1.2s linear;
    -moz-transition: max-height 1.2s linear;
    transition: max-height 1.2s  linear;
}
.hidden-quote-text{
    max-height: 0;
}
/************* end reviews-container *********/



/*********** media queries ******************/
@media (max-width: 992px){
    html{
        font-size: 20px;
    }
    .story-container>.container>.row,.our-works-container .our-works-header>div{
        text-align: center !important;
    }
}
/************ end media ******************/