/******** global ***********/
* {
    font-family: "Century Gothic", sans-serif;
}

input, select, input:hover, input:active, input:focus, select:hover, select:active, select:focus, option {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

.main-button {
    text-transform: uppercase;
    background-color: #00a025;
    padding: 10px 18px;
    font-size: 0.85rem;
    color: #fefffe;
    text-decoration: none;
    border-radius: 10px;
    transition: all .1s linear;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    cursor: pointer;
    border: none;
}

.main-button:hover, .main-button:active, .main-button:focus {
    color: #fefffe;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    outline: none;
}

.container-header h2 {
    font-size: 1.875rem;
    color: #00a025;
    margin-top: 35px;
    margin-bottom: 30px;
}

/********* header **********/
.navbar-light {
    background-color: #fff;
    padding: 0;
}

.navbar-brand {
    margin-right: 0;
    padding: 0;
}

.navbar-brand img {
    width: 168px;
    height: 81px;
}

.nav-link {
    font-size: 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    transition: color .3s linear;
}
.navbar-light .navbar-nav .nav-link:focus{
    color: #000;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #009e22 !important;
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
    border: none;
    outline: none;
    box-shadow: none;
}

/********* slider *********/
#main-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../img/main_background.png") no-repeat center/cover;
}

#main-slider > div {
    height: inherit;
    width: inherit;
}

#main-slider .slider-inner {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1.8s linear;
    /*transition-delay: .9s;*/
    transform: translate3d(0,100vh,0);
    bottom: 0;
}

#main-slider .active {
    /*transition-delay: .9s;*/
    display: block;
    transform: translate3d(0,0,0);
}

#main-slider .slider-inner:first-child {
    background-image: url("../img/main_background.png");
}

.slider-inner:nth-child(2) {
    background: url("../img/DSC02676.jpg");
}

.slider-inner:nth-child(3) {
    background: url("../img/DSC02793.jpg");
}
.slider-inner:nth-child(4) {
    background: url("../img/DSC02815.jpg");
}
.slider-inner:nth-child(5) {
    background: url("../img/DSC02860.jpg");
}
.slider-inner:nth-child(6) {
    background: url("../img/DSC02886.jpg");
}
.slider-inner:nth-child(7) {
    background: url("../img/DSC02962.jpg");
}
.slider-inner:nth-child(8) {
    background: url("../img/DSC02974.jpg");
}
.slider-inner:nth-child(9) {
    background: url("../img/DSC02994.jpg");
}
.slider-inner:nth-child(10) {
    background: url("../img/DSC03298.jpg");
}

#slider-control {
    height: 100% !important;
    width: 100% !important;
    padding-left: 0;
}

#slider-control .slider-control-inner {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

#slider-control .slider-control-inner span {
    display: block;
    color: #fff;
    transform: rotate(-90deg);
    font-weight: bold;
}

#slider-control .slider-control-inner .fa-angle-right {
    margin-top: 75px;
    margin-bottom: 50px;
}

#slider-control .slider-control-inner .fa {
    color: white;
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 2.5rem;
    font-weight: 100;
    cursor: pointer;
    transition: transform .3s linear;
}

#slider-control .slider-control-inner .fa:hover {
    transform: rotate(-90deg) scale(1.2);
}

.vl {
    transform: none !important;
    height: 63px;
    width: 2px;
    background-color: white;
    margin: 10px 0;
}

/******** main ************/
.main-container {
    position: relative;
}

.booking-form-row {
    height: 100vh;
}

.booking-form {
    width: 100%;
    height: inherit;

}

#datepicker {
    padding: 9px;
}

.form-control::-webkit-input-placeholder {
    color: #000;
}

.booking-form-inner {
    border-radius: 9px;
    padding: 40px 15px;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
}

.booking-form-inner input, .booking-form-inner select {
    font-size: .85rem;
    color: black;
    border-radius: 9px;
    padding-left: 5px;
}

.booking-form-inner button {
    margin-top: 20px;
}

.icons {
    position: absolute;
    bottom: 40px;
    z-index: 10;
}

.icons a:nth-child(2) {
    margin-left: 20px;
}

.stairs-wrapper {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: inherit;
    cursor: pointer;
}

@keyframes stairs-anim {
    from {
        margin-bottom: -20px;
    }
    50% {
        margin-bottom: 0;
    }
    to {
        margin-bottom: -20px;
    }
}

.stairs {
    animation: stairs-anim 2s linear infinite;
}

/********** advantages ************/
.advantages-container {
    background: white;
}

.adv-row {
    padding-top: 25px;
}

.adv-elem-wrapper {
    min-height: 200px;
    margin-bottom: 50px;
}

.adv-elem-wrapper h6 {
    color: #00a025;
    font-size: 1rem;
    font-weight: bold;
}

/********** prices **********/
.price-container{
    padding-bottom: 50px;
}
.main-hotel-image-wrapper {
    position: relative;
    border-radius: 9px;
}

.main-hotel-image-wrapper img {
    min-height: 370px;
    width: 100%;
    height: auto;

}

.image-photo-description {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 80px;
    background-color: rgba(0, 160, 37, 0.70);
    margin: 0 15px;
    border-bottom: 1px solid white;
}
.image-photo-description h6{
    /*margin-left: 35px;*/
    /*margin-right: 85px;*/
}
.decoration-circle-wrapper {
    position: absolute;
    padding-right: 50px;
    height: 100%;
    right: 0;
    top: 0;
}

.decoration-circle {
    background-color: rgba(255, 255, 255, .7);
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-bottom: 3px;
}

.image-photo-description h6 {
    color: #fff;
    z-index: 3;
    margin-left: 35px;
    margin-right: 85px;
}

.left-arrow-circle {
    cursor: pointer;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.left-arrow-circle .fa {
    line-height: 40px;
    font-size: 30px;
    color: #00a025;
}

.photo-preview {
    margin-top: 13px;
}

.hotel-description-wrapper h3 {
    color: #00a025;
    font-size: 1.875rem;
    margin-bottom: 35px;
}

.hotel-description-wrapper p {
    font-size: 1rem;
    color: #231f20;
    margin-bottom: 23px;
}
.convenience-row>.col-6{
    margin-bottom: 23px;
}
.convenience-description {
    margin-left: 22px;
    font-size: 0.875rem;
}
.price-hotel{
    font-size: 1rem;
    color: #00a025;
}
.price-hotel strong{
    font-size: 1.875rem;
}
/*********** services *********/
.services-container{
    padding-bottom: 65px;
}
.serv-elem-wrapper img{
    margin-top: 60px;
    margin-bottom: 30px;
}
.serv-elem-wrapper h6{
    font-size: 1.5rem;
    color: black;
    margin-bottom: 30px;
}
/********** reviews *******/
.review-header{
    color: #00a025;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 12px;
}
.review-header .postdate{
    font-size: 0.875rem;
}
/*.review-header,.stars-wrapper{*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
/*}*/
.stars-wrapper{
    margin-bottom: 12px;
}
.star .fa{
    font-size: 1.4rem;
    color: #5bc273;
}
.star{
    margin-right: 10px;
    display: inline-block;
}
/*.review-paragraph{*/
    /*padding-left: 0;*/
/*}*/
.review-paragraph{
    font-size: 0.75rem;
    color: #231f20;
    margin-bottom: 40px;
}
.review-wrapper{
    border-radius: 9px;
    box-shadow: 0 8px 10px rgba(134, 134, 134, 0.36);
}
.review-wrapper>.row{
    margin-left: 15px;
    margin-right: 15px;
}
.reviews-container{
    margin-bottom: 85px;
}
/*********** review slider **********/
@media (min-width: 993px){
    #reviews-wrapper{
        position: relative;
        overflow-x: hidden;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: -15px;
        padding-right: 30px;
    }
    #reviews-wrapper>.row{
        width: inherit;
        transition: transform 1s linear;
    }
    .review-element{
        max-width: 50vw;
    }
}

/********* contacts **********/
.contacts-container{
    margin-bottom: 75px;
}
.contacts-info-list{
    list-style: none;
    margin-bottom: 30px;
}
.contacts-info-list img{
    margin-right: 32px;
}
.contacts-info-list li{
    margin-bottom: 16px;
    font-size: 0.875rem;
    color: #00a025;
}
.contacts-info-list li a{
    font-size: 0.875rem;
    color: #00a025;
}
.contact-form{
    padding-left: 55px;
}
.form-header{
    font-size: 1rem;
    color: #00a025;
    margin-bottom: 0;
}
#feedback label{
   color: #000;
    font-size: 0.875rem;
}
#feedback input,#feedback textarea{
    border: none;
    transition: border .3s linear;
    border-radius: 0;
}
#feedback textarea{
    resize: none;
}
#feedback input{
    border-bottom: 1px solid #ccc !important;
}
#feedback .col-sm-12{
    padding-left: 0;
}
#feedback textarea{
    border-bottom: 1px solid #ccc !important;
    outline: none;
    box-shadow: none;
}
#feedback textarea:hover,#feedback textarea:active,#feedback textarea:focus,
#feedback input:hover,#feedback input:active,#feedback input:focus{
    border-bottom: 1px solid #00a025 !important;
}
#feedback .col-sm-10{
    padding-left:0;
    margin-left: -2px;
}
#feedback label{

    z-index: 30;
    border-bottom: 1px solid #ccc !important;
}
#feedback .no-border{
    border: none !important;
    padding-left: 15px;
}

@media (max-width: 993px) {

    .callback-btn {
        display: none;
    }

    #slider-control, .slider-control-inner,.decoration-circle-wrapper {
        display: none !important;
    }

    .navbar .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .hotel-description-wrapper{
        margin-top: 35px;
    }
    .image-photo-description h6{
        margin:0 5px;
    }
    .main-hotel-image-wrapper img{
        min-height: 200px;
    }
    #reviews-wrapper>.row>div{
        margin-bottom: 35px;
    }
    .reviews-container .left-arrow-circle,.reviews-container .left-arrow-circle,
    #prev-slide-hotel,#next-slide-hotel{
        display: none;
    }
    #feedback label{
        border: none!important;
    }
    .form-header,.contacts-info-list{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .contact-form{
        padding-left: 0;
    }
}
@media (max-width: 768px){
    .text-center-mob{
        text-align: center !important;
    }
}