/******** global ***********/
*{
    font-family: "Century Gothic", sans-serif;
}
.main-button{
    text-transform: uppercase;
    background-color: #00a025;
    padding: 10px 18px;
    font-size: 0.85rem;
    color: #fefffe;
    text-decoration: none;
    border-radius: 10px;
    transition: all .1s linear;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    cursor: pointer;
    border: none;
}
.main-button:hover,.main-button:active,.main-button:focus{
    color: #fefffe;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
/********* header **********/
.navbar-light{
    background-color: #fff;
    padding: 0;
}
.navbar-brand{
    margin-right: 0;
    padding: 0;
}
.navbar-brand img{
    width: 168px;
    height: 81px;
}
.nav-link{
    font-size: 1rem;
}
.navbar-light .navbar-nav .nav-link{
    color: #000000;
    transition: color .3s linear;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #009e22;
}
.navbar-toggler,.navbar-toggler:focus,.navbar-toggler:active{
    border: none;
    outline: none;
    box-shadow: none;
}
/********* slider *********/
#main-slider{
    position: absolute;
    width: 100%;
    height: 100%;
}
#main-slider>div{
    height: inherit;
    width: inherit;
}
#main-slider .slider-inner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#main-slider .slider-inner:first-child{
    background-image: url("../img/main_background.png");
}
#slider-control{
    height: 100% !important;
    width: 100% !important;
    padding-left: 0;
}
#slider-control .slider-control-inner{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
}
#slider-control .slider-control-inner span{
    display: block;
    color: #fff;
    transform: rotate(-90deg);
    font-weight: bold;
}
#slider-control .slider-control-inner .fa-angle-right{
    margin-top: 75px;
    margin-bottom: 50px;
}
#slider-control .slider-control-inner .fa{
    color: white;
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 2.5rem;
    font-weight: 100;
    cursor: pointer;
    transition: transform .3s linear;
}
#slider-control .slider-control-inner .fa:hover{
    transform: rotate(-90deg) scale(1.2);
}
.vl{
    transform: none !important;
    height: 63px;
    width: 2px;
    background-color: white;
    margin: 10px 0;
}
/******** main ************/
.main-container{
    position: relative;
}
.booking-form-row{
    height: 100vh;
}
.booking-form{
    width: 100%;
    height: inherit;
}
.booking-form-inner{
    border-radius: 9px;
    padding: 40px 15px;
    background-color: rgba(0,0,0,.6);

}
.booking-form-inner input,.booking-form-inner select{
    font-size: .85rem;
    color: black;
    border-radius: 9px;
    padding-left: 5px;


}
.booking-form-inner button{
    margin-top: 20px;
}
.icons{
    position: absolute;
    bottom: 40px;
}
.icons a:nth-child(2){
    margin-left: 20px;
}
.stairs-wrapper{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: inherit;
}
@keyframes stairs-anim {
   from{
       margin-bottom: -20px;
   }
    50%{
        margin-bottom: 0;
    }
    to{
        margin-bottom: -20px;
    }
}
.stairs{
    animation: stairs-anim 2s linear infinite;
}
.stairs img{


}
@media (max-width: 928px) {
    .callback-btn{
        display: none;
    }
    #slider-control{
        display: none;
    }
    .navbar .container{
        padding-left: 15px;
        padding-right: 15px;
    }
}