@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
/********** buttons and other *********/
html,body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
.inner-container{
    padding-top: 75px;
    padding-bottom: 75px;
}
.draw::before, .draw::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.draw {
    transition: color 0.25s;
}
.draw::before, .draw::after {
    border: 1px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}
.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover {
    color: #000;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}
.draw:hover::before {
    border-top-color: #0eb493;
    border-right-color: #0eb493;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
    border-bottom-color: #0eb493;
    border-left-color: #0eb493;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.colored-button{
    border: none;
    text-transform: uppercase;
    font-size: 0.8125rem;
    color: #fff;
    background-color: rgba(14, 180, 147, 1);
    font-weight: bold;
    padding: 15px 35px;
    transition: all .3s ease-in-out,color 0.25s ;
    position: relative;
    cursor: pointer;
}
.colored-button:hover,.colored-button:active,.colored-button:focus{
    color: #0eb493;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
}
.container-header h3{
    text-transform: uppercase;
    color: #0eb493;
    font-size: 1.56rem;
    font-weight: 900;
}
.heart-hr{
    position: relative;
    color: #b8bdc1;
    margin-top: 25px;
    margin-bottom: 35px;
}
.heart-hr:before{
    content: "";
    position: absolute;
    top: 10px;
    left: -105px;
    display: inline-block;
    height: 1px;
    width: 90px;
    background-color: #b8bdc1;
}
.heart-hr:after{
    content: "";
    position: absolute;
    top: 10px;
    right: -105px;
    display: inline-block;
    height: 1px;
    width: 90px;
    background-color: #b8bdc1;
}
#party-bg,#peoples-bg,#peoples-bg-2{
    position: absolute;
    bottom: 0;
    width: 120%;
    left: -10%;
    height: auto;
}
#peoples-bg-2{
    bottom: -300px;
}



/***** animations ********/
.maxOpacity{
    opacity: 1.0 !important;
}

/******** navbar *****/
.navbar{
    background-color: #0eb493;
}
.navbar-dark .navbar-nav .nav-link{
    position: relative;
    color: rgb(255,255,255);
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:focus{
    color: rgb(255,255,255);
}
.navbar-dark .navbar-nav .nav-link:after{
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color:  rgb(255,255,255);
    transform: scaleX(0);
    transition: transform .3s ease;
}
.navbar-dark .navbar-nav .nav-link:hover:after{
    transform: scaleX(.75);
}
/***** header *******/
.header-container{
    background: url("../img/party-bg.jpg") no-repeat center/cover;
    position: relative;
    overflow: hidden;
}
.header-container:after{
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(28, 105, 90), rgb(0, 0, 0));
    animation: 1s showGradientEffect linear;
    opacity: .3;
    transition: opacity 1s ease-in-out;
}
.header-container>.inner-container{
    position: relative;
    z-index: 3;
    color: white;
}
.maxOpacity:after{
    opacity: .8;
}
.headers{
    min-height: 700px;
    height: 100vh;
    position: relative;
    z-index: 3;
    color: white;
}

.shadow-letters {
    color: #fff;
    font-family: Arvo;
    font-weight: bold;
    text-shadow:
            -3px -3px 0 #222,
            3px -3px 0 #222,
            -3px 3px 0 #222,
            3px 3px 0 #222,
            4px 4px 0 #fff,
            5px 5px 0 #fff,
            6px 6px 0 #fff,
            7px 7px 0 #fff;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    margin:0;
    text-align: center;
}
.script {
    font-family: "Seaweed Script";
    color: #fff;
    text-align: center;
    font-size: 2rem;
    position: relative;
    margin:0;
}
.script span {
    padding: 0 0.3em;
    position: relative;
}
.script span:before {
    content:"";
    display: inline-block;
    position: absolute;
    z-index:-1;
    top: 25px;
    width: 100px;
    left: -100px;
    height: 2px;
    background-color: white;
}
.script span:after {
    content:"";
    display: inline-block;
    position: absolute;
    z-index:-1;
    top:25px;
    width: 100px;
    right: -100px;
   height: 2px;
    background-color: white;
}
.text1 {
    font-size: 3rem;
}
.text2 {
    font-size: 10rem;
}
.text3 {
    font-size: 8rem;
}

/******** features-container ******/
.features-container{
    background-color: #fff;
}
.features-elem{
    margin-top: 35px;
    margin-bottom: 35px;
}
.features-elem-header{
    font-size: 1.25rem;
    color: #062033;
}
.features-elem-p{
    font-size: 0.8125rem;
    color: #4d606e;
}

/******* works *************/
.works-row{
    margin-top: 35px;
    margin-bottom: 35px;
}
.works-elem-wrapper{
    overflow: hidden;
    position: relative;
    padding: 0;
}
.works-elem-wrapper img{
    width: 100%;
    height: auto;
}
.works-elem-description{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(14, 180, 147, 0.7);
    opacity: .0;
    transition: opacity .3s ease-in-out;
}
.works-elem-description hr{
    border-top-color: white;
    width: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.works-elem-description h5,.works-elem-description h6{
    font-weight: bold;
    color: white;
    transition: margin .3s linear;
}
.works-elem-description h5{
    margin-top: -50px;
}
.works-elem-description h6{
    margin-bottom: -50px;
}
.works-elem-description h5{
    text-transform: uppercase;
}
.works-elem-wrapper:hover .works-elem-description{
    opacity: 1.0;
}
.works-elem-wrapper:hover .works-elem-description h5,
.works-elem-wrapper:hover .works-elem-description h6{
    margin-top: 0;
    margin-bottom: 0;
}

/******** facts ***********/
.facts-container{
    background: url("../img/towns-bg.png") no-repeat center/cover;
    position: relative;
    color: white;
}
.facts-container:after{
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(255, 255, 255,.0), rgb(0, 0, 0));
    animation: 1s showGradientEffect linear;
    opacity: .8;
    transition: opacity 1s ease-in-out;
}
.facts-container .inner-container{
    position: relative;
    z-index: 10;
}
.facts-row{

}
.fact-elem-wrapper{
    margin-top: 30px;
}
.fact-elem-wrapper:hover .circle-fact{
    background-color: rgba(14, 180, 147, 0.7);
}
.circle-fact{
    width: 130px;
    height: 130px;
    border-radius: 65px;
    border: 1px solid #737b83;
    background-color: rgba(6, 32, 51, 0.0);
    transition: background-color .3s ease-in-out;
}
.fact-elem-wrapper h4,.fact-elem-wrapper h6{
    text-transform: uppercase;
    font-weight: 500;
}
.fact-elem-wrapper h4{
    margin-top: 15px;
    font-size: 3.33rem;
}
/******* video-container *******/
.video-container{
    padding: 0;
    position: relative;
}
.video-container video{
    width: 100vw;
    height: auto;

}
.video-container:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: radial-gradient(rgb(28, 105, 90), rgb(0, 0, 0));
    opacity: .6;
}
/******** contacts ********/
.contacts-container{
    background-color: #fff;
}

.contacts-info ul{
    list-style: none;
}
.contacts-info a{
    text-decoration: none;
    color: #0eb493;
}
.contacts-info ul li{
    color: #0eb493;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contacts-info ul li span{
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}
.contacts-info-header{
    text-transform: uppercase;
    font-weight: bold;
}
.contacts-row>div{
    margin-bottom: 40px;
}
.contacts-form input,.contacts-form textarea,
.contacts-form input:focus,.contacts-form textarea:focus,
.contacts-form input:active,.contacts-form textarea:active{
    border: 1px solid #0eb493;
    background-color: #fff;
    color: #0eb493;
}
.contacts-form input::placeholder,.contacts-form textarea::placeholder,
.contacts-form input:focus::placeholder,.contacts-form textarea:focus::placeholder,
.contacts-form input:active::placeholder,.contacts-form textarea:active::placeholder{
    color:  #0eb493;
    opacity: 1; /* Firefox */
}

.contacts-form input:-ms-input-placeholder,.contacts-form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #0eb493;
}

.contacts-form input::-ms-input-placeholder,.contacts-form textarea::-ms-input-placeholder { /* Microsoft Edge */
    color:  #0eb493;
}
@media (max-width: 928px) {
    html{
        font-size: 20px;
    }
    .navbar-dark .navbar-brand{
        transform: scale(0.7);
    }
    .text1 {
        font-size: 2rem;
    }
    .text2 {
        font-size: 5rem;
    }
    .text3 {
        font-size: 4rem;
    }
}