@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');
/********** buttons and other *********/
html,body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
.inner-container{
    padding-top: 75px;
    padding-bottom: 75px;
}
.draw::before, .draw::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.draw {
    transition: color 0.25s;
}
.draw::before, .draw::after {
    border: 1px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}
.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover {
    color: #000;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}
.draw:hover::before {
    border-top-color: #000;
    border-right-color: #000;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
    border-bottom-color: #000;
    border-left-color: #000;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.container-header h3{
    text-transform: uppercase;
    color: #0eb493;
    font-size: 1.56rem;
    font-weight: 900;
}
.heart-hr{
    position: relative;
    color: #b8bdc1;
    margin-top: 25px;
    margin-bottom: 35px;
}
.heart-hr:before{
    content: "";
    position: absolute;
    top: 10px;
    left: -105px;
    display: inline-block;
    height: 1px;
    width: 90px;
    background-color: #b8bdc1;
}
.heart-hr:after{
    content: "";
    position: absolute;
    top: 10px;
    right: -105px;
    display: inline-block;
    height: 1px;
    width: 90px;
    background-color: #b8bdc1;
}
#party-bg,#peoples-bg,#peoples-bg-2{
    position: absolute;
    bottom: 0;
    width: 120%;
    left: -10%;
    height: auto;
}
#peoples-bg-2{
    bottom: -300px;
}
/*** end other *********/


/***** animations ********/
.maxOpacity{
    opacity: 1.0 !important;
}
/**** end animations *******/

/***** header *******/
.header-container{
    background: url("../img/party-bg.jpg") no-repeat center/cover;
    position: relative;
    overflow: hidden;
}
.header-container:after{
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(28, 105, 90), rgb(0, 0, 0));
    animation: 1s showGradientEffect linear;
    opacity: .3;
    transition: opacity 1s ease-in-out;
}
.header-container>.inner-container{
    position: relative;
    z-index: 3;
    color: white;
}
.maxOpacity:after{
    opacity: .8;
}
.headers{
    min-height: 700px;
    height: 100vh;
    position: relative;
    z-index: 3;
    color: white;
}
/**** end header ****/


/******** features-container ******/
.features-container{
    background-color: #fff;
}
.features-elem{
    margin-top: 35px;
    margin-bottom: 35px;
}
.features-elem-header{
    font-size: 1.25rem;
    color: #062033;
}
.features-elem-p{
    font-size: 0.8125rem;
    color: #4d606e;
}
/********* end features-container ******/

/******* works *************/
.works-row{
    margin-top: 35px;
    margin-bottom: 35px;
}
.works-elem-wrapper{
    overflow: hidden;
    position: relative;
    padding: 0;
}
.works-elem-wrapper img{
    width: 100%;
    height: auto;
}
.works-elem-description{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(14, 180, 147, 0.7);
    opacity: .0;
    transition: opacity .3s ease-in-out;
}
.works-elem-description hr{
    border-top-color: white;
    width: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.works-elem-description h5,.works-elem-description h6{
    font-weight: bold;
    color: white;
    transition: margin .3s linear;
}
.works-elem-description h5{
    margin-top: -50px;
}
.works-elem-description h6{
    margin-bottom: -50px;
}
.works-elem-description h5{
    text-transform: uppercase;
}
.works-elem-wrapper:hover .works-elem-description{
    opacity: 1.0;
}
.works-elem-wrapper:hover .works-elem-description h5,
.works-elem-wrapper:hover .works-elem-description h6{
    margin-top: 0;
    margin-bottom: 0;
}
/******* end works *********/

/******** facts ***********/
.facts-container{
    background: url("../img/towns-bg.png") no-repeat center/cover;
    position: relative;
    color: white;
}
.facts-container:after{
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(255, 255, 255,.0), rgb(0, 0, 0));
    animation: 1s showGradientEffect linear;
    opacity: .8;
    transition: opacity 1s ease-in-out;
}
.facts-row{
    position: relative;
    z-index: 10;
}
.fact-elem-wrapper{
    margin-top: 30px;
}
.fact-elem-wrapper:hover .circle-fact{
    background-color: rgba(14, 180, 147, 0.7);
}
.circle-fact{
    width: 130px;
    height: 130px;
    border-radius: 65px;
    border: 1px solid #737b83;
    background-color: rgba(6, 32, 51, 0.0);
    transition: background-color .3s ease-in-out;
}
.fact-elem-wrapper h4,.fact-elem-wrapper h6{
    text-transform: uppercase;
    font-weight: 500;
}
.fact-elem-wrapper h4{
    margin-top: 15px;
    font-size: 3.33rem;
}
/****** end facts *********/