@import url('https://fonts.googleapis.com/css?family=Roboto');
/************ v-transition **************/

/************ end v-transition **************/

h1,h2,h3,h4,h5,h6{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.white-color{
    color: #fff !important;
}
.application-container{
    min-height: 600px;
    height: 100vh;
}
#app>div>h4{
    margin-left: 20px;
    margin-right: 20px;

}
.loader{
    border: 1px solid black;
    border-radius: 3px;
    width: 60%;
    box-sizing: border-box;
}
.loader-wrapper{
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;


}
.progress-bar{
    height: 30px;
    background-color: #4dc71f;
}
.loader-wrapper>h6{
    color: black;

    line-height: 30px;

    display: inline-block;
    margin: 0 auto;

}