@charset "UTF-8";
body {
  background: #fff;
}

.pink-bg {
  background: linear-gradient(to right, #c63f97 0%, #a62a7a 60%);
}

.orange-bg {
  background: linear-gradient(to right, #fba73b 0%, #f07621 80%);
}

.blue-bg {
  background: linear-gradient(to right, #164af4 0%, #16359e 100%);
}

.green-bg {
  background: linear-gradient(to left, #00c50d 0%, #138016 90%);
}

.skyblue-bg {
  background: linear-gradient(to left, #3ba3ff 0%, #296dbd 80%);
}

.red-bg {
  background: linear-gradient(to left, #eb750c 0%, #d2181c 100%);
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-05s {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

@font-face {
  font-family: 'American Captain';
  /* Имя шрифта */
  src: url(../fonts/9374.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'sofia';
  /* Имя шрифта */
  src: url(../fonts/SofiaProRegular.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'Gilroy';
  /* Имя шрифта */
  src: url(../fonts/10177.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'Roboto';
  /* Имя шрифта */
  src: url(../fonts/10177.otf);
  /* Путь к файлу со шрифтом */
}

a {
  text-decoration: none;
  color: #E1E1E1 !important;
}

a:hover {
  text-decoration: none;
}

.padding-50 {
  padding-top: 50px !important;
}

.gradient-line {
  width: 100%;
  height: 5px;
  border: none;
  margin: 0;
  background: radial-gradient(50% 50% at 50% 50%, #F6F227 0%, rgba(212, 153, 1, 0.01) 100%);
}

.gradient-gold {
  background: linear-gradient(to bottom, #fffcaa 0%, #926e15 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: 'American Captain', serif;
  font-size: 48px;
}

.gradient-silver {
  background: linear-gradient(to bottom, #FFF 0%, #8C8C8C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: 'American Captain', serif;
  font-size: 48px;
}

.underline {
  height: 15px;
  width: 100vw;
  background: url("../img/underline.png") no-repeat center/cover;
  margin: 0 -15px;
  position: relative;
}

.underline:before {
  content: '';
  display: block;
  position: absolute;
  background: url("../img/big-smoke.png") no-repeat center/cover;
  width: 100%;
  height: 80vh;
  top: -400px;
  z-index: 1;
}

.purple-smoke {
  position: relative;
}

.purple-smoke:before, .purple-smoke:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.purple-smoke:before {
  background: url("../img/purple-smoke.png") no-repeat center/cover;
  top: -400px;
}

.purple-smoke:after {
  background: url("../img/sparks.png") no-repeat center/cover;
  top: 200px;
}

.brick {
  height: 15px;
  width: 100vw;
  background: url("../img/brick.png") repeat-x center;
  margin: 0 -15px;
}

.nav-mob {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-mob .nav-item-languages-wrapper {
  font-size: 1rem;
  border-radius: 10px;
}

.navbar {
  z-index: 10;
  background-color: #1B1E27;
  min-height: 100px;
}

.navbar-brand {
  position: absolute;
  top: 0;
  left: 0;
  width: 38%;
}

.navbar-nav {
  color: #E1E1E1 !important;
  font-family: 'American Captain';
}

.navbar-nav .nav-item-languages-wrapper {
  border: 1px solid #494949;
  box-sizing: border-box;
  border-radius: 6px;
}

.navbar-nav .nav-item-wrapper {
  width: 80px;
}

.navbar-nav-slogan {
  border: 2px solid #FFB600;
  transform: skewX(-10deg);
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-height: 70px;
}

.navbar-nav-slogan-text {
  font-family: American Captain;
  color: #E1E1E1 !important;
  font-size: 16px;
  transform: skewX(10deg);
  display: inline-block;
  margin-bottom: -2px;
}

.first-block {
  background: url("../img/Frame.png") no-repeat center/cover;
}

.first-block .why-row .why-text-subbox .why {
  background-color: #FFB600;
  transform: rotate(-5deg) skewX(-4deg);
  position: relative;
  margin-top: 40px;
}

.first-block .why-row .why-text-subbox .why:before, .first-block .why-row .why-text-subbox .why:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 35px;
  height: 100%;
  background: #FFB600;
  z-index: 10;
}

.first-block .why-row .why-text-subbox .why:before {
  width: 63px;
  left: -62px;
}

.first-block .why-row .why-text-subbox .why:after {
  right: -34px;
}

.first-block .why-row .why-text-subbox .why .why-title {
  font-family: 'American Captain';
  color: #ffffff;
  font-size: 64px;
  line-height: 1.2;
  padding-top: .7rem;
  margin-left: -35px;
}

.first-block .why-row .why-text-subbox .why-text-bordered {
  position: relative;
}

.first-block .why-row .why-text-subbox .why-text-bordered:before, .first-block .why-row .why-text-subbox .why-text-bordered:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #F6F227 0%, rgba(212, 153, 1, 0.01) 100%);
  z-index: 10;
  width: 5px;
}

.first-block .why-row .why-text-subbox .why-text-bordered:before {
  left: -25px;
}

.first-block .why-row .why-text-subbox .why-text-bordered:after {
  right: 0px;
}

.first-block .why-row .why-text-subbox .why-text-bordered p {
  font-family: 'Gilroy';
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 600;
}

.first-block .why-row .why-text-box {
  display: flex;
  flex-direction: row;
}

.first-block .why-row .why-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'American Captain';
  font-size: 1.375rem;
  letter-spacing: 1px;
}

.first-block .why-row .why-btn .btn-first-block {
  background-color: #FF0404;
  transform: skewX(8deg) rotate(1deg);
  color: #ffffff !important;
  line-height: 1.5;
  padding-top: .4rem;
  box-shadow: 0px 0px 15px 0px #ff0404;
  margin-left: -15px;
}

.first-block .why-row .why-btn .btn-first-block span {
  margin: 20px 60px;
}

.first-block .why-row .why-btn .btn-second-block {
  background-color: #21FA90;
  transform: skewX(-8deg) rotate(-1deg);
  padding-top: .4rem;
  line-height: 1.5;
  color: #ffffff !important;
  box-shadow: 0 0 15px 0 #21fa90;
  margin-right: -15px;
}

.first-block .why-row .why-btn .btn-second-block span {
  margin: 15px 60px;
}

.first-block .men-stick {
  background: url("../img/stick.png") no-repeat center/cover;
  justify-content: flex-end;
}

.mob-stick {
  position: relative;
  z-index: 20;
}

.mob-stick div {
  z-index: 20;
}

.mob-stick:before, .mob-stick:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.mob-stick:before {
  background: url("../img/stick-gorizont.png") no-repeat center/cover;
  height: 300px;
  top: 120px;
}

.mob-stick:after {
  background: url("../img/smoke.png") no-repeat center/cover;
  top: -200px;
  height: 100vh;
}

/* */
.up-text {
  text-transform: uppercase;
}

.second-block {
  background: url("../img/Frame.png") no-repeat center/cover;
}

.second-block .about {
  color: #ffffff;
  font-family: 'Gilroy';
  letter-spacing: 1px;
  /* background-image: linear-gradient(to bottom left,rgba(188,188,188,0.13),rgba(188, 188, 188, 0.089)); */
  background: linear-gradient(-120deg, rgba(188, 188, 188, 0.05) 0%, rgba(188, 188, 188, 0.15) 50%, rgba(188, 188, 188, 0.3) 100%);
  flex-direction: column;
  transform: skewX(-3deg);
}

.second-block .about .about-title {
  transform: skewX(3deg);
  font-family: 'American Captain';
  background: linear-gradient(to bottom, white 0%, #818181 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.second-block .about .form-get {
  transform: skewX(3deg);
}

.second-block .about .form-inp {
  font-family: 'Gilroy';
}

.second-block .about .form-inp-text {
  font-family: American Captain;
  font-size: 24px;
}

.second-block .about .form-inp input {
  border: none;
  background-color: #D6D7D6;
  padding: 10px 5px;
  display: inline-block;
}

.second-block .btn-get-box {
  background-color: #21FA90;
  box-shadow: 0px 0px 15px 0px #21fa90;
  font-family: 'American Captain';
  font-size: 2rem;
  transform: skewX(-5deg);
}

.second-block .btn-get-box .get-btn {
  color: #000 !important;
}

.second-block .football-stick {
  background: url("../img/stick_red.png") no-repeat center/cover;
  justify-content: flex-end;
  min-height: 100vh;
}

.second-block .football-stick div {
  z-index: 20;
}

.second-block .football-stick .football-men {
  position: relative;
  right: 8vw;
}

.footer-partn {
  background-color: #000;
  position: absolute;
  width: 100%;
  font-family: 'Roboto';
  color: #ffffff;
}

.footer-partn p {
  margin-top: 18px;
}

.third-block {
  background-color: #1B1E27;
  min-height: calc(100vh - 155px);
}

.third-block .contact-form {
  font-family: Gilroy;
  font-size: 16px;
}

.third-block .contact-form-submit {
  background-color: #FF0404;
  transform: skewX(-5deg);
  border: 0;
  font-family: 'American Captain';
  color: white;
  letter-spacing: 1px;
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.third-block .contact-form input,
.third-block .contact-form textarea {
  background: #231F20;
  border: 1px solid #666666;
  padding: 8px;
  color: white;
}

.third-block .contacts-title {
  font-family: 'American Captain';
  background: linear-gradient(to bottom, white 0%, #818181 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.third-block .contact-subtitle {
  color: #fff;
  font-family: 'American Captain';
  letter-spacing: 1px;
}

.third-block .social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  font-family: 'Gilroy';
}

.third-block .social p {
  margin-bottom: 0;
}

.third-block .social .telegram {
  display: flex;
  flex-direction: row;
  border-left: 3px solid #007AD2;
}

.third-block .social .telegram .telegram-ico {
  color: #007AD2;
  font-size: 2rem;
}

.third-block .social .skype {
  display: flex;
  flex-direction: row;
  border-left: 3px solid #10BDEA;
}

.third-block .social .skype .skype-ico {
  color: #10BDEA;
  font-size: 2rem;
}

.third-block .support {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  border-left: 3px solid #E21212;
}

.third-block .support p {
  margin-bottom: 0;
}

.third-block .support .mail {
  color: #E21212;
  font-size: 2rem;
}

.third-block .support .main-sup {
  display: flex;
  flex-direction: row;
}

.third-block .support .sub-sup {
  display: flex;
  flex-direction: row;
}

.sup-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-title {
  font-family: 'Gilroy';
}

.social-acc {
  font-family: 'Gilroy', semi-bold;
  font-weight: bold;
}

/** adv-cont**/
.advantages-container {
  background: #1B1E27;
  position: relative;
  overflow: hidden;
}

.advantages-container .telegram-triangle-wrapper {
  top: 105px;
  position: absolute;
  z-index: 100;
}

.advantages-container .telegram-triangle-wrapper .telegram-triangle {
  margin-left: -15px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-container .telegram-triangle-wrapper .telegram-triangle p {
  position: absolute;
  top: 0;
  max-width: 55%;
  font-family: Gilroy;
  font-size: 16px;
  color: white;
}

.advantages-container .advantage-el-lvl-1 .advantage-el-content {
  max-width: 290px;
}

.advantages-container .advantage-el-lvl-2 .advantage-el-content {
  max-width: 320px;
}

.advantages-container .advantage-el-lvl-3 .advantage-el-content {
  max-width: 380px;
}

.advantages-container .advantage-el {
  color: #fff;
  position: relative;
  z-index: 20;
}

.advantages-container .advantage-el .mob-block-bg-1 {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.advantages-container .advantage-el .mob-block-bg-2 {
  position: absolute;
  bottom: 0;
  left: -10px;
  transform: rotate(20deg);
}

.advantages-container .advantage-el .mob-block-bg-3 {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.advantages-container .advantage-el .mob-block-bg-4-1 {
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.advantages-container .advantage-el .mob-block-bg-4-2 {
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.advantages-container .advantage-el .mob-block-bg-5-1 {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.advantages-container .advantage-el .mob-block-bg-5-2 {
  position: absolute;
  bottom: 5px;
  right: 10px;
  transform: scale(-1, 1);
}

.advantages-container .advantage-el .mob-block-bg-6-1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.advantages-container .advantage-el .mob-block-bg-6-2 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: scale(-1, 1);
}

.advantages-container .advantage-el-header h5 {
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: bolder;
}

.advantages-container .advantage-el-content p {
  font-family: sofia;
  font-size: 16px;
  line-height: 1;
}

.advantages-container .advantage-el-ico {
  min-width: 60px;
  flex: 0 0 60px;
}

.telegram-triangle-text {
  background: rgba(34, 34, 34, 0.92);
  opacity: 0.7;
  border: 0.5px solid #FFFFFF;
  transform: skewX(-8deg);
}

.telegram-triangle-text p {
  color: #fff;
  opacity: 1 !important;
  margin-bottom: 5px;
}

.gradient-line-mob-green {
  background: radial-gradient(50% 50% at 50% 50%, rgba(33, 250, 144, 0.78) 0%, rgba(33, 250, 144, 0) 100%);
  height: 5px;
  margin: 0 0;
}

.gradient-line-mob-red {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 77, 0, 0.71) 0%, rgba(255, 77, 0, 0.66) 0.01%, rgba(230, 104, 16, 0.01) 100%);
  height: 5px;
  margin: 0 0;
}

.gradient-green {
  background: linear-gradient(to bottom, #fff 0%, #A2FFD2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: 'American Captain', serif;
  font-size: 48px;
}

.gradient-red {
  background: linear-gradient(to bottom, #fff 0%, #FFAF66 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: 'American Captain', serif;
  font-size: 48px;
}

.s1 {
  transform: skewX(20deg);
}

.s2 {
  transform: skewX(-20deg);
}

.advantage-el-mob-1 {
  line-height: 1;
  transform: skewX(-20deg);
}

.advantage-el-mob-1 .advantage-el-mob-content {
  transform: skewX(20deg);
}

.advantage-el-mob-1 .gradient-line-advantage-mob {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.78) 0%, rgba(255, 255, 255, 0) 100%);
  height: 5px;
  margin: 0 0;
}

.advantage-el-mob-2 {
  line-height: 1;
  transform: skewX(20deg);
}

.advantage-el-mob-2 .advantage-el-mob-content {
  transform: skewX(-20deg);
}

.advantage-el-mob-2 .gradient-line-advantage-mob {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.78) 0%, rgba(255, 255, 255, 0) 100%);
  height: 5px;
  margin: 0 0;
}

.about-mob {
  background-color: #1B1E27;
}

.about-mob .btn-get-box {
  background-color: #21FA90;
  box-shadow: 0px 0px 15px 0px #21fa90;
  font-family: 'American Captain';
  font-size: 2rem;
  transform: skewX(-5deg);
}

.about-mob .btn-get-box .get-btn {
  color: #000 !important;
}

.about-mob-content {
  color: #ffffff;
  font-family: 'Gilroy';
  letter-spacing: 1px;
  /* background-image: linear-gradient(to bottom left,rgba(188,188,188,0.13),rgba(188, 188, 188, 0.089)); */
  background: linear-gradient(-120deg, rgba(188, 188, 188, 0.05) 0%, rgba(188, 188, 188, 0.15) 50%, rgba(188, 188, 188, 0.3) 100%);
  flex-direction: column;
  transform: skewX(-3deg);
}

.about-mob-content-text {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: bold;
}

.about-mob .form-inp {
  font-family: 'Gilroy';
}

.about-mob .form-inp-text {
  color: #fff;
  font-family: American Captain;
  font-size: 20px;
  margin: 0;
}

.about-mob .form-inp input {
  border: none;
  background-color: #D6D7D6;
  /* max-width: 180px; */
  width: 45%;
  padding: 7px 3px;
  display: inline-block;
}

.smoke {
  position: absolute;
  top: -20px;
  left: 0%;
}

.about-mob-content {
  color: #ffffff;
  font-family: 'Gilroy';
  letter-spacing: 1px;
  /* background-image: linear-gradient(to bottom left,rgba(188,188,188,0.13),rgba(188, 188, 188, 0.089)); */
  background: linear-gradient(-120deg, rgba(188, 188, 188, 0.05) 0%, rgba(188, 188, 188, 0.15) 50%, rgba(188, 188, 188, 0.3) 100%);
  flex-direction: column;
  transform: skewX(-3deg);
}

@media screen and (min-width: 767px) {
  .underline:before, .underline:after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .green-bg {
    background: linear-gradient(to left, #3CB57A 0%, #21FA90 100%);
  }
  .first-block .why-row .why-text-subbox .why:before, .first-block .why-row .why-text-subbox .why:after {
    display: none !important;
  }
  .first-block .why-row .why-text-subbox .why .why-title {
    font-size: 36px;
  }
  .first-block .why-row .why-btn {
    font-size: 1rem;
  }
  .first-block .why-row .why-btn {
    justify-content: space-around !important;
  }
  .first-block .why-row .why-btn .btn-first-block span,
  .first-block .why-row .why-btn .btn-second-block span {
    margin: 10px 30px !important;
  }
  .first-block .why-row .why-text-subbox .why-text-bordered {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .first-block .why-row .why-text-subbox .why-text-bordered:before {
    left: 0;
  }
  .first-block .why-row .why-text-subbox .why-text-bordered:after,
  .first-block .why-row .why-text-subbox .why-text-bordered:before {
    /*  display: none; */
  }
  .first-block .men-stick {
    background: none;
  }
  .gradient-line {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .advantages-container .gradient-line {
    display: none;
  }
  .form-get .row .form-inp {
    background-color: none;
  }
  .navbar {
    min-height: 50px;
  }
  .navbar-brand {
    width: 66%;
    left: 19%;
  }
  .navbar-nav .nav-item-wrapper {
    width: 40px;
  }
  .navbar-nav-slogan {
    max-height: none;
    margin-top: 2.1rem;
    border: 5px solid #F8f729;
  }
  .navbar-nav-slogan-text {
    font-size: 1.75rem;
  }
  .about-text {
    font-size: 10px;
  }
}
