@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/********** buttons and other *********/
html,body{
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
}
.draw::before, .draw::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.draw {
    transition: color 0.25s;
}
.draw::before, .draw::after {
    border: 1px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}
.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover {
    color: #000;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}
.draw:hover::before {
    border-top-color: #0eb493;
    border-right-color: #0eb493;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
    border-bottom-color: #0eb493;
    border-left-color: #0eb493;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.colored-button{
    border: none;
    text-transform: uppercase;
    font-size: 0.8125rem;
    color: #fff;
    background-color: rgba(14, 180, 147, 1);
    font-weight: bold;
    padding: 15px 35px;
    transition: all .3s ease-in-out,color 0.25s ;
    position: relative;
    cursor: pointer;
}
.colored-button:hover,.colored-button:active,.colored-button:focus{
    color: #0eb493;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
}

.container-header{
    padding-top: 75px;
    padding-bottom: 40px;
}
.container-header h3{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.container-header hr{
    border-top-color: #0093b7;
    width: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}
/***** animations ********/

/******** navbar *****/
.navbar{
    background-color: #0093b7;
}
.navbar-dark .navbar-nav .nav-link{
    position: relative;
    color: rgb(230,236,235);
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:focus{
    color: rgb(230,236,235);
}
.navbar-dark .navbar-nav .nav-link:after{
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(230,236,235);
    transform: scaleX(0);
    transition: transform .3s ease;
}
.navbar-dark .navbar-nav .nav-link:hover:after{
    transform: scaleX(.75);
}
.navbar-dark .navbar-nav .active .nav-link:after{
    transform: scaleX(.75);
}

/******** main **********/
.main-container{
    background: url("../img/main.jpg") no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
}
.main-container:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: radial-gradient(rgba(0, 147, 183, 0.48), rgb(0, 0, 0));
}
.main-container>.inner-container{
    position: relative;
    z-index: 3;
    color: #e6eceb;
}
.headers{
    min-height: 700px;
    height: 100vh;
    position: relative;
    z-index: 3;
    color: #e6eceb;
}
/********* advantages **********/
.adv-elem-header{
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
}
.adv-elem-text{

}
@media (max-width: 928px) {
    html{
        font-size: 20px;
    }

}