/********* global **********/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Comfortaa|Indie+Flower|Arvo|Righteous|Paytone+One');
/******* colors ************/
$white: #fff;
$black: #040404;
$violet: #6e5cfe;
$blue: #4568f6;
$lightblue: #2684fe;
$pink: #c681fe;
/********** fonts *********/
%Indie {
  font-family: 'Indie Flower', cursive;;
}

%Comfortaa {
  font-family: 'Comfortaa', cursive;
}

%Amatic {
  font-family: 'Amatic SC', cursive;
}

%Arvo {
  font-family: 'Arvo', serif;
}

%Righteous {
  font-family: 'Righteous', cursive;
}

%Paytone {
  font-family: 'Paytone One', sans-serif;
}

h1 {
  font-size: 4rem;
}

/********** global ***********/
#main-page {
  background: linear-gradient(-45deg, $blue 20%, $lightblue 40%, $pink 100%);
  box-shadow: 0 6px 10px rgba(0,0,0,.3);
  background-attachment: fixed;
}

.gradient-button {
  cursor: pointer;
  display: block;
  background: linear-gradient(to right, $violet 0%, $pink 100%);
  height: 40px;
  padding: 5px 20px;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  color: $white;
  box-shadow: 0 5px 10px rgba(198, 129, 254, .4);
  min-width: 180px;
}

.container-header {
  h2 {
    color: $white;
    text-transform: uppercase;
    font-size: 4rem;
    @extend %Amatic;
  }
  &:hover {
    .h-line {
      &:before {
        transform: translateX(-10px);
      }
      &:after {
        transform: translateX(10px);
      }
    }
  }
  .h-line {
    position: relative;
    width: 100px;
    display: inline-block;
    .fa {
      color: $white;
      font-size: 16px;
    }
    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 1px;
      background-color: $white;
      left: 5px;
      top: 11px;
      transition: all .3s ease-in-out;
    }
    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 1px;
      background-color: $white;
      right: 5px;
      top: 11px;
      transition: all .3s ease-in-out;
    }
  }
}

#preloader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  background-color: white;
  z-index: 2;
  svg {
    z-index: 100;
  }
}

/*********** menu *********/
//vars
$pi: 3.14;

//config
$menu-items: 4;
$open-distance: 105px;
$opening-angle: $pi*2;
%goo {
  filter: url('#shadowed-goo');
}

%ball {
  background: $violet;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: $white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.menu-item {
  @extend %ball;
}

.hamburger {
  $width: 25px;
  $height: 3px;
  width: $width;
  height: $height;
  background: $white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$height/2;
  transition: transform 200ms;
}

$hamburger-spacing: 8px;
.hamburger-1 {
  transform: translate3d(0, -$hamburger-spacing, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, $hamburger-spacing, 0);
}

.menu-open:checked + .menu-open-button {
  .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}

.menu {
  @extend %goo;
  $height: 650px;
  $width: 190px;
  position: absolute;
  left: 0;
  margin-left: 40px;
  padding-top: 20px;
  padding-left: 40px;
  width: $width;
  height: $height;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item {
  span{
    display: inline-block;
    transform: scaleX(.0);
    position: absolute;
    opacity: .0;
    transition: all .3s ease-in-out;
    left: 60px;
    text-transform: uppercase;
    @extend %Comfortaa;
  }
  &:hover {
    background: $white;
    color: $violet;
  }
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i+2}) {
      transition-duration: 180ms;
    }
  }
}

.menu-open-button {
  @extend %ball;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  //span{
  //  transform: scaleX(1);
  //}
  //&:hover{
  //  span{
  //    left: 90px;
  //    opacity: 1.0;
  //  }
  //}
  transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  @for $i from 1 through $menu-items {

    &:nth-child(#{$i+2}) {
      transition-duration: 90ms+(100ms*$i);
      transform: translate3d(0, 110px*$i, 0);
    }
  }
}

/********** main ************/

.main-container {
  // background: $white fixed no-repeat center/cover;
  transition: transform .3s ease-in-out;
  #play-btn {
    cursor: pointer;
    display: flex;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 6vw);
    left: calc(50% - 6vw);
    z-index: 100;
    background-color: $white;
    border: 1px solid $blue;
    box-shadow: 0 5px 10px rgba(198, 129, 254, .4);
    transition: box-shadow .3s linear,
    transform .5s linear;
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
    &:hover {
      box-shadow: 0 7px 20px rgba(198, 129, 254, .4);
      transform: scale(1.1);
    }
    .fa {
      color: $blue;
      font-size: 2vw;
    }
  }

  > .row {
    min-height: 700px;
    height: 100vh;
    position: relative;
    transition: transform .5s ease-in-out;
    overflow-x: hidden;
    .main-headers {
      h1, h2, h3 {
        color: $violet;
        text-transform: uppercase;
        @extend %Righteous;
        font-weight: bolder;
        letter-spacing: .2rem;
      }
      h1 {
        font-size: 5rem;
        @extend %Paytone;
        font-weight: normal;
      }
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 2.2rem;
      }

    }
    .left-main-block {
      transition: all .5s ease-in-out;
      position: absolute;
      padding-left: 5%;
      background-color: $white;
      height: 100%;
      width: 50%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .right-main-block {
      position: absolute;
      transition: all .5s ease-in-out;

      height: 100%;
      width: 100%;
      left: 50%;
      overflow: hidden;
      img {
        position: absolute;
        left: 0;
        bottom: -20px;
        height: 80%;
        width: auto;
        opacity: .8;
        transition: transform .3s ease-in-out;
        transform-origin: left bottom;
      }
      .second-step-header {
        @extend %Amatic;
        display: none;
        opacity: .0;
        color: $white;
        text-transform: uppercase;
        font-size: 3rem;
        transition: all .3s ease-in-out;
      }
      .active {
        opacity: 1.0;
        z-index: 100;
      }
    }
  }
}

#main-content {
  transition: transform .3s ease-in-out;
}

/*********** about us ************/
.about-us-container {
  min-height: 100vh;
  .cube-wrapper {
    opacity: .3;
    canvas {
      width: 100%;
      height: auto;
    }
  }
  p {
    color: $white;
    @extend %Amatic;
    font-size: 3rem;
  }
}

/********* offer ************/
//.tablet-row {
//  background: url("../img/tablet.png") no-repeat center/cover;
//  height: 700px;
//  .tablet-wrapper {
//
//    span {
//      color: $black;
//      @extend %Amatic;
//      font-size: 4rem;
//    }
//  }
//}
/****** portfolio ******/
//.portfolio-container {
//  perspective: 1000px;
//  overflow: hidden;
//  .cards-container {
//    justify-content: center;
//    align-items: center;
//    height: auto;
//    transition: 1s;
//    //transform: rotateX(55deg) rotateZ(-45deg) rotateY(10deg);
//    transform-style: preserve-3d;
//    .card {
//      padding: 0;
//      margin: 10px;
//      transition: 0.3s;
//      max-width: 300px;
//      img {
//        max-width: 100%;
//      }
//      &:hover {
//        cursor: pointer;
//        transform: translateZ(10px);
//      }
//    }
//  }
//  .container-origin {
//    transform: rotate(0);
//  }
//}
/********** services *************/
@keyframes cubeStaticAnim {
  from {
    transform: translate3d(0, -5px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: translate3d(0, -5px, 0);
  }
}

.serv-container {
  overflow-x: hidden;
  background-color: $white;

  .row {
    min-height: 100vh;
    .container-header {
      h2 {
        color: $violet;

      }
      .h-line {
        i {
          color: $violet;

        }
        &:before {
          background-color: $violet;

        }
        &:after {
          background-color: $violet;

        }
      }
    }
    .cube {
      img {
        animation: cubeStaticAnim 2s linear infinite;
      }
    }
    p {
      color: $violet;

      font-size: 3rem;
      @extend %Amatic;
      position: relative;
    }

  }
}

/************ advantages *******************/
.contacts-container {
  position: relative;
  padding: 0;
  .adv-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .adv-bg-elem {
      float: left;
      width: 16.6667%;
      height: 100vh;
      display: inline-block;
      box-sizing: border-box;
      box-shadow: 0px 0px 3px black;
      transition: all .3s linear;
      &:nth-child(2n) {
        background-color: rgba(0, 0, 0, .1);
        &:hover {
          //transform: scale(1.1);
          background-color: rgba(0, 0, 0, .3);
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, .3);
        //transform: scale(1.1);
      }
      span {
        cursor: default;
        font-size: 20vw;
        color: rgba(255, 255, 255, .03);
        font-weight: bolder;
        @extend %Paytone;
        text-transform: uppercase;
      }

    }
  }
}

/********* advantages **********/
.advantages-container {
  background-color: $white;
  .advantages-header {
    .container-header {
      h2 {
        color: $violet;
        text-transform: initial;
      }
      .h-line {
        i {
          color: $violet;

        }
        &:before {
          background-color: $violet;
        }
        &:after {
          background-color: $violet;
        }
      }

    }
  }
  .advantages-row {
    .advantages-elem-wrapper {
      img {
        width: 100%;
        height: auto;
        transition: transform .3s ease-in-out;
        &:hover {
          //transform: rotate(180deg);
        }
      }
      .vl {
        margin: 2px 0 5px 0;
        display: block;
        height: 30px;
        width: 2px;
        background-color: $violet;
      }
      p {
        color: $violet;
        @extend %Indie;
        font-size: 1.5rem;
      }
    }
  }
}
/********* footer ********/
#main-footer {
  display: none;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $violet;
  color: $white;
  a{
    color: $white;
    text-decoration: none;
    &:hover{
      color: $white;
      text-decoration: underline;
    }
  }
}
/******** media *********/
@media (max-width: 928px) {
  html{
    font-size: 12px;
  }
  .menu{
    margin-left: 20px;
    padding-top: 20px;
    padding-left: 20px;

    .menu-item, .menu-open-button{
      transform: scale(.7);
    }
  }

  .main-container {
    #play-btn {
      display: none;

    }

    > .row {
      min-height: 500px;
      height: 100vh;
      position: relative;
      transition: transform .5s ease-in-out;
      overflow-x: hidden;
      .main-headers {


      }
      .left-main-block {
        transition: all .5s ease-in-out;
        position: absolute;
        padding-left: 0;
        background-color: $white;
        height: 100%;
        width: 100%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .right-main-block {
        position: absolute;
        transition: all .5s ease-in-out;

        height: 100%;
        width: 100%;
        left: 0;
        overflow: hidden;
        img {
          display: none;
          position: absolute;
          left: 0;
          bottom: -20px;
          height: 80%;
          width: auto;
          opacity: .8;
          transition: transform .3s ease-in-out;
          transform-origin: left bottom;
        }
        .second-step-header {
          display: none;
          opacity: .0;
          color: $white;
          text-transform: uppercase;
          font-size: 3rem;
          transition: all .3s ease-in-out;
        }
        .active {
          opacity: 1.0;
          z-index: 100;
        }
      }
    }
  }

  .cards-container {
    transform: rotate(0) !important;
  }
  #main-footer{
    display: block;
    position: relative;
  }
}