/****** colors *******/
$white: #fff;
$black: #000;
$red: #e90a0b;
/****** fonts ********/
@import url('https://fonts.googleapis.com/css?family=Rubik|Rubik+Mono+One');

%Rubik {
  font-family: 'Rubik', sans-serif;
}

%Rubik-Mono {
  font-family: 'Rubik Mono One', sans-serif;
}

%light {
  font-weight: 300;
}

%regular {
  font-weight: 400;
}

%medium {
  font-weight: 500;
}

%h1 {
  @extend %Rubik-Mono;
  @extend %light;
  font-size: 6rem;
  letter-spacing: -1.5px;
}

%h2 {
  @extend %Rubik;
  @extend %light;
  font-size: 3.75rem;
  letter-spacing: -0.5px;
}

%h3 {
  @extend %Rubik;
  @extend %regular;
  font-size: 3rem;
  letter-spacing: 0px;
}

%h4 {
  @extend %Rubik;
  @extend %regular;
  font-size: 2.125rem;
  letter-spacing: 0.25px;
}

%h5 {
  @extend %Rubik;
  @extend %regular;
  font-size: 1.5rem;
  letter-spacing: 0px;
}

%h6 {
  @extend %Rubik;
  @extend %medium;
  font-size: 1.25rem;
  letter-spacing: 0.15px;
}

%st-1 {
  @extend %Rubik;
  @extend %regular;
  font-size: 1rem;
  letter-spacing: 0.15px;
}

%st-2 {
  @extend %Rubik;
  @extend %medium;
  font-size: 0.875rem;
  letter-spacing: 0.1px;
}

%b-1 {
  @extend %Rubik;
  @extend %regular;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

%b-2 {
  @extend %Rubik;
  @extend %regular;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
}

%button {
  @extend %Rubik;
  @extend %medium;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

%caption {
  @extend %Rubik;
  @extend %regular;
  font-size: 0.75rem;
  letter-spacing: 0.4px;
}

%overline {
  @extend %Rubik;
  @extend %regular;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/********** navbar ************/
.navbar {
  background-color: $black;
  > .container {
    .navbar-nav {
      .nav-item {
        margin-right: 46px;
        .nav-link{
          justify-content: center;
          flex-direction: column;
          display: flex;
          &:after{
            content: '';
            align-self: center;
            background-color: $red;
            height: 1px;
            width: 11px;
            transform: scaleX(0);
            transition: transform .1s ease-in-out;
          }
          &:hover:after{
            transform: scaleX(1);
          }
          color: $white;

        }
      }
      .active{
       .nav-link{
         &:after{
           transform: scaleX(1);
         }
       }
      }
      .nav-contacts{
        .nav-call-i{
          color: $white;
          position: relative;
          .fa{
            display: block;
            transform: rotate(-90deg);
            font-size: 18px;
            padding: 10px;
            background-color: $red;
            border-radius: 50%;
            position: relative;
            @keyframes call {
              from{
                width: 110%;
                height: 110%;
                top: -5%;
                right: -5%;
                opacity: .7;
              }
              80%{
                width: 150%;
                height: 150%;
                top: -25%;
                right: -25%;
                opacity: .3;
              }
              to{
                opacity: .0;
              }
            }
            &:after{
              content: '';
              position: absolute;
              z-index: -1;
              top: -10%;
              right: -10%;
              display: block;
              border-radius: 50%;
              width: 110%;
              height: 110%;
              background-color: $red;
              opacity: .7;
              animation: .8s linear call infinite;
            }
          }
        }
        .nav-contacts-info{
          color: $white;
          @extend %caption;
          ul{
            padding-left: 0;
            list-style: none;
          }
        }
      }
      .shopping-cart{
        cursor: pointer;
        .shopping-cart-wrapper{
          position: relative;
          .fa{
            color: $red;
            display: inline-block;
            transform: scaleX(-1);
            font-size: 35px;
          }
          .shopping-cart-counter{
            display: block;
            position: absolute;
            bottom: 0;
            left: -10px;
            min-width: 20px;
            min-height: 20px;
            border-radius:50%;
            background-color: $white;
            .counter{
              font-size: 12px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

/*********** main-page *********/
.main-container {
  background: url("../images/main-bg.png") no-repeat fixed center/cover;
  padding-top: 104px;
  overflow-x: hidden;
  .container {
    > .row {
      min-height: 100vh;
      min-height: calc(100vh - 104px);
      .main-headers {
        color: $white;
        h1, h2 {
          text-transform: uppercase;
          margin: 0;
        }
        h1 {
          @extend %h1;
        }
        h2 {
          @extend %h2;
          margin-top: -1.75rem;
        }
        .h-line {
          display: block;
          height: 1px;
          width: 40%;
          background-color: $red;
          margin: 50px 0;
        }
        p {
          @extend %caption;
        }
      }
      .wheel-wrapper {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        img {
          width: 100%;
          height: auto;
        }
        #disk {
          width: 83%;
          position: absolute;
          transition: transform .8s ease-in-out;
        }
        &:hover #disk {
          transform: rotate(360deg);
        }
      }

    }
  }
}