/****** colors *******/
$white: #fff;
$black: #000;
$red: #e90a0b;
$darkgray: #1d1d1d;
$lightgray: #4a4a4a;
/****** fonts ********/
@import url('https://fonts.googleapis.com/css?family=Rubik|Rubik+Mono+One');

%Rubik {
  font-family: 'Rubik', sans-serif;
}

%Rubik-Mono {
  font-family: 'Rubik Mono One', sans-serif;
}

%light {
  font-weight: 300;
}

%regular {
  font-weight: 400;
}

%medium {
  font-weight: 500;
}

%h1 {
  @extend %Rubik-Mono;
  @extend %light;
  font-size: 6rem;
  letter-spacing: -1.5px;
}

%h2 {
  @extend %Rubik;
  @extend %light;
  font-size: 3.75rem;
  letter-spacing: -0.5px;
}

%h3 {
  @extend %Rubik;
  @extend %regular;
  font-size: 3rem;
  letter-spacing: 0px;
}

%h4 {
  @extend %Rubik;
  @extend %regular;
  font-size: 2.125rem;
  letter-spacing: 0.25px;
}

%h5 {
  @extend %Rubik;
  @extend %regular;
  font-size: 1.5rem;
  letter-spacing: 0px;
}

%h6 {
  @extend %Rubik;
  @extend %medium;
  font-size: 1.25rem;
  letter-spacing: 0.15px;
}

%st-1 {
  @extend %Rubik;
  @extend %regular;
  font-size: 1rem;
  letter-spacing: 0.15px;
}

%st-2 {
  @extend %Rubik;
  @extend %medium;
  font-size: 0.875rem;
  letter-spacing: 0.1px;
}

%b-1 {
  @extend %Rubik;
  @extend %regular;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

%b-2 {
  @extend %Rubik;
  @extend %regular;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
}

%button {
  @extend %Rubik;
  @extend %medium;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

%caption {
  @extend %Rubik;
  @extend %regular;
  font-size: 0.75rem;
  letter-spacing: 0.4px;
}

%overline {
  @extend %Rubik;
  @extend %regular;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/******** transitions *********/
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
{
  opacity: 0;
}

/******** global ************/

.mda-btn {
  @extend %button;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 10px 30px;
  background: $red;
  color: $white;
  line-height: 0.875rem;
  margin: 20px 0;
  transition: opacity .1s ease-in-out;
  &:hover {
    text-decoration: none;
    color: $white;
    opacity: .5;
  }
}

/********** navbar ************/
.shopping-cart {
  cursor: pointer;

  .shopping-cart-wrapper {
    position: relative;
    .fa {
      color: $red;
      display: inline-block;
      transform: scaleX(-1);
      font-size: 35px;
    }
    .shopping-cart-counter {
      display: block;
      position: absolute;
      bottom: 0;
      left: -10px;
      min-width: 20px;
      min-height: 20px;
      border-radius: 50%;
      background-color: $white;
      .counter {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $black;
  > .container {
    .navbar-brand {
      img {
        height: 50px;
      }
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(233,10,11, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar-toggler {
      border-color: rgb(233, 10, 11);
      outline: none;
    }
    .navbar-nav {
      .nav-item {
        margin-right: 46px;
        .nav-link {
          justify-content: center;
          flex-direction: column;
          display: flex;
          &:after {
            content: '';
            align-self: center;
            background-color: $red;
            height: 1px;
            width: 11px;
            transform: scaleX(0);
            transition: transform .1s ease-in-out;
          }
          &:hover:after {
            transform: scaleX(1);
          }
          color: $white;

        }
      }
      .active {
        .nav-link {
          &:after {
            transform: scaleX(1);
          }
        }
      }
      .nav-contacts {
        .nav-call-i {
          color: $white;
          position: relative;
          .fa {
            display: block;
            transform: rotate(-90deg);
            font-size: 18px;
            padding: 10px;
            background-color: $red;
            border-radius: 50%;
            position: relative;
            @keyframes call {
              from {
                width: 110%;
                height: 110%;
                top: -5%;
                right: -5%;
                opacity: .7;
              }
              80% {
                width: 150%;
                height: 150%;
                top: -25%;
                right: -25%;
                opacity: .3;
              }
              to {
                opacity: .0;
              }
            }
            &:after {
              content: '';
              position: absolute;
              z-index: -1;
              top: -10%;
              right: -10%;
              display: block;
              border-radius: 50%;
              width: 110%;
              height: 110%;
              background-color: $red;
              opacity: .7;
              animation: .8s linear call infinite;
            }
          }
        }
        .nav-contacts-info {
          color: $white;
          @extend %caption;
          ul {
            padding-left: 0;
            list-style: none;
          }
        }
      }

    }
  }
}

/*********** main-page *********/
.main-container {
  background: url("../images/main-bg.png") no-repeat fixed center/cover;
  padding-top: 104px;
  overflow-x: hidden;
  .container {
    > .row {
      min-height: 101vh;
      min-height: calc(101vh - 104px);
      .main-headers {
        color: $white;
        h1, h2 {
          text-transform: uppercase;
          margin: 0;
        }
        h1 {
          @extend %h1;
        }
        h2 {
          @extend %h2;
          margin-top: -1.75rem;
        }
        .h-line {
          display: block;
          height: 1px;
          width: 40%;
          background-color: $red;
          margin: 50px 0;
        }
        p {
          @extend %caption;
        }
      }
      .wheel-wrapper {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        img {
          width: 100%;
          height: auto;
        }
        #disk {
          width: 83%;
          position: absolute;
          transition: transform .8s ease-in-out;
        }
        &:hover #disk {
          transform: rotate(360deg);
        }

      }
      .main-advantages {
        .advantages {
          color: $white;
          padding-left: 0;
          list-style: none;
          li {
            cursor: default;
            margin: 18px 0;
            @extend %st-1;
            position: relative;
            .o-marker {
              position: absolute;
              left: 0;
              display: inline-block;
              width: 14px;
              height: 14px;
              border: 1px solid $red;
              border-radius: 50%;
            }
            .adv-inner {
              position: relative;
              margin-left: 80px;
              &:after {
                content: '';
                position: absolute;
                right: 100%;
                top: 3px;
                display: inline-block;
                width: 18px;
                height: 18px;
                border: 1px solid $red;
                border-radius: 50%;
                transition: right .3s ease-in, opacity .3s ease-in;
                opacity: .0;
              }
              &:before {
                content: '';
                position: absolute;
                right: 101%;
                top: 50%;
                display: inline-block;
                height: 1px;
                width: 0;
                background: $red;
                transition: width .3s ease-in, opacity .3s ease-in;
                opacity: .0;
              }
            }
            &:hover .adv-inner:before {
              width: 65px;
              opacity: 1;
            }
            &:hover .adv-inner:after {
              right: 120%;
              right: calc(100% + 64px);
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .main-selector-row {
    min-height: 100vh;
    #main-selector {
      position: relative;
      color: $white;
      .nav-pills .nav-link, .nav-pills .nav-link {
        color: $white;
        background-color: $darkgray;
        transition: background-color .2s ease-in;
      }
      .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: $red;
        color: $white;
      }

      .nav-pills, .tab-content {
        @extend %h1;
        font-size: 1.25rem;
        width: 100%;
        text-align: center;
        .nav-item {
          width: 50%;
          cursor: pointer;
          //border: 1px solid $white;
          border-bottom: none;
          border-radius: 6px;
          box-sizing: border-box;
          display: inline-block;
          float: left;
          transition: color .1s linear;
          a {
            color: $white;
          }
        }
        .selector-main {
          @extend %h1;
          font-size: 1.5rem;

          .col-6 {
            padding: 0;
          }
          #type-choice {
            @extend %h3;
            font-size: 1.25rem;
          }
        }
        .form-elements {
          margin: 0;
          margin-bottom: 15px;
          .form-elem {
            font-size: .75rem;
            select {
              cursor: pointer;
              width: 100%;
              padding: 10px 0;
              background-color: $darkgray;
              color: $white;
              border: none;
            }
          }
        }
        .seasons-row {
          font-size: .75rem;
          input[type="radio"] {
            display: none;
          }
          input[type="radio"] + label {
            cursor: pointer;
            padding: 10px 10px;
            color: $white;
            background: $darkgray;
            background-color: $darkgray;
            width: 100%;
          }
          input[type="radio"]:checked + label {
            color: $white;
            background: $red;
          }
        }
      }
      .tab-content {
        a {
          font-size: .875rem;
        }
        .selector-icon {

          height: 40px;
          width: auto;
        }
      }
      .close-selector {
        position: absolute;
        top: -28px;
        right: -10px;
        cursor: pointer;
        .fa {
          color: $red;
          font-size: 1rem;
        }
      }
    }

  }

}

/********* media **********/
@media screen and (max-width: 992px) {
  .navbar > .container .navbar-nav .nav-item {
    margin-right: 0;
  }
  .main-headers {
    justify-content: space-between !important;
    align-items: center !important;
    h1, h2 {
      font-size: 15vw !important;
      text-align: center;
      margin: 10px 0 !important;
    }
    h6 {
      text-align: center;
    }
  }
}
@media screen and (max-width: 350px){
  .main-container {
    .container {
      > .row {
        .main-advantages {
          .advantages {
            li {
              .adv-inner {
                margin-left: 40px;
              }

              &:hover .adv-inner:before{
                opacity: .0;
              }
              &:hover .adv-inner:after{
                opacity: .0;
              }
            }
          }
        }
      }
    }
  }
}
