@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Semibold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.ttf");
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    &::selection {
        color: $white;
        background: #eda318;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h2 {
    font-size: 1.875rem;
    color: $darkgray;
}

.headline {
    font-size: 0.875rem;
    font-family: "Helvetica Neue";
    text-transform: uppercase;
    color: $latte;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    color: $darkgray;
    font-size: 2.875rem;
    font-weight: bold;
    &--line {
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 60px;
            height: 4px;
            position: absolute;
            left: -96px;
            top: calc(1.4375rem - 2px);
            background: $darkgray;
        }
    }
    &--vertical {
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
    &--vertical.title--line {
        padding-top: 96px !important;
        margin: 0 75px 0 0 !important;
        float: left;
        font-size: 2rem;
        &::before {
            transform: rotate(90deg);
            top: initial;
            left: initial;
            top: 30px;
            right: -10px;
        }
    }
}

.title-2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.title-3 {
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.paragraph {
    color: $darkgray;
    font-size: 1.125rem;
    font-weight: 400;
}

.date {
    font-size: 1rem;
    color: $gray;
    font-weight: 400;
    display: inline-block;
    margin-top: 30px;
}

.breadcrumbs-link {
    color: $latte !important;
    font-size: 1.125rem;
    @include transition(color);
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        color: #aa885f !important;
        text-decoration: none;
    }
}

.scroll-down {
    font-size: 1.125rem;
    color: #949393;
    position: relative;
    margin-left: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 29px;
        left: -32px;
        // top: 0;
        background: url("../img/mouse.svg") no-repeat center/contain;
    }
}

.paragraph a {
    color: inherit;
}