@media screen and (max-width: 768px) {
    .page-not-found {
        // margin-left: 80px !important;
        // margin-right: 80px !important;
        max-width: initial !important;
        text-align: center !important;
    }
}

@media screen and (min-width: 768px) {
    .page-not-found {
        // margin-left: 80px !important;
        // margin-right: 80px !important;
        max-width: 750px !important;
    }
}

@media screen and (min-width: 992px) {
    .page-not-found {
        // margin-left: 80px !important;
        // margin-right: 80px !important;
        max-width: 970px !important;
    }
}

@media screen and (min-width: 1200px) {
    .page-not-found {
        // margin-left: 80px !important;
        // margin-right: 80px !important;
        max-width: 1170px !important;
    }
}

@media screen and (max-width: 1024px) {
    html,
    body {
        font-size: 12.5217391304px;
    }
    .full-height-row--inverse {
        .full-height-row__content {
            padding-left: 120px !important;
            -ms-flex-preferred-size: 0 !important;
            flex-basis: auto;
            -webkit-box-flex: 1 !important;
            -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
            max-width: 100% !important;
        }
        .full-height-row__image {
            margin-right: 0 !important;
            flex: 0 0 26.367% !important;
            max-width: 26.367% !important;
        }
    }
    .our-achivements-row:before {
        width: 73.633% !important;
    }
    body .pt-200 {
        padding-top: 150px !important;
    }
    body .pb-200 {
        padding-bottom: 150px !important;
    }
    body .py-200 {
        padding-bottom: 150px !important;
        padding-top: 150px !important;
    }
    .navigation-row__link:first-child {
        padding-left: 120px !important;
    }
    .navigation-row__link:last-child {
        padding-right: 120px !important;
    }
    .two-equals-row {
        padding-left: 120px !important;
        padding-right: 120px !important;
    }
    .text-row {
        padding-left: 120px !important;
        padding-right: 120px !important;
    }
}

@media screen and (max-width: 768px) {
    html,
    body {
        font-size: 12.5217391304px;
    }
    body .pt-200 {
        padding-top: 50px !important;
    }
    body .pb-200 {
        padding-bottom: 50px !important;
    }
    body .py-200 {
        padding-bottom: 50px !important;
        padding-top: 50px !important;
    }
    .full-height-row {
        .full-height-row__content {
            padding-left: 60px !important;
            -ms-flex-preferred-size: 0 !important;
            flex-basis: auto;
            -webkit-box-flex: 1 !important;
            -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
            max-width: 100% !important;
        }
        .full-height-row__image {
            // margin-right: 0 !important;
            // flex: 0 0 26.367% !important;
            // max-width: 26.367% !important;
            display: none !important;
        }
    }
    .navigation__menu {
        min-width: 100vw !important;
        // position: relative;
        overflow-y: auto;
        left: -100vw !important;
    }
    .navigation__menu--active {
        left: 0 !important;
    }
    .navigation__menu-list {
        position: absolute;
        top: 30px;
        text-align: center;
        .navigation__menu-item.active a span,
        .navigation__menu-item:hover a span {
            transform: none;
        }
    }
    .navigation__copyright {
        position: initial !important;
    }
    .navigation__toggler--fixed {
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 300;
    }
    .image--full-width {
        margin-left: 0px;
        width: 100vw;
        height: auto;
    }
    .content {
        padding-left: 0px !important;
        margin-left: 0 !important;
    }
    .container,
    .production-container,
    .partners-container {
        padding-left: 60px !important;
        margin-left: 0 !important;
        .headline {
            // margin-top: 120px;
            margin-right: 0;
        }
        .title,
        .paragraph {
            margin-right: 0;
        }
    }
    .full-height-row__content {
        max-width: 50%;
        flex: 0 0 50%;
        margin-left: 0 !important;
        padding-left: 60px;
        padding-right: 0;
    }
    .text-row {
        padding-right: 0;
        padding-left: 60px;
    }
    .two-equals-row {
        padding-left: 60px;
        padding-right: 0;
    }
    .slider-counter {
        padding-right: 20px !important;
    }
    .navigation-row {
        display: flex;
        justify-content: space-between;
        &__link {
            padding-top: 38px;
            padding-bottom: 38px;
            &:first-child {
                padding-left: 0;
            }
        }
    }
    .two-offseted-images-row,
    .our-achivements-row {
        padding-left: 60px;
        padding-right: 0;
    }
    .full-height-row__content {
        margin-right: 60px !important;
    }
    .trade-marks-container {
        .full-height-row__content--padding-right {
            padding-left: 0 !important;
            padding-right: 35% !important;
        }
    }
    .blog_page_container {
        .full-height-row__content {
            padding-top: 13.333vh !important;
            padding-bottom: 13.333vh !important;
            height: auto !important;
            overflow: initial !important;
            padding-left: 0 !important;
        }
        .full-height-row {
            &__image {
                display: none;
            }
        }
    }
    .navigation-row__link:first-child {
        // margin-left: -60px;
        padding-left: 60px !important;
    }
    .navigation-row__link:last-child {
        padding-right: 60px !important;
    }
    .full-height-row__title--vertical {
        margin-right: 30px !important;
    }
    .our-achivements-row {
        padding-left: 0 !important;
        padding-right: 0 !important;
        &::before {
            display: none !important;
        }
    }
    .two-equals-row {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
    .full-screen-image-row {
        margin-left: 0px !important;
    }
    .text-row {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
    .trade-marks-images-row {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 50px;
    }
}

@media screen and (max-width: 576px) {
    html,
    body {
        font-size: 9.04347826087px;
    }
    .image--full-width {
        margin-left: 0px;
        width: 100vw;
        height: auto;
    }
    body .our-achivements-row {
        padding: 50px 0;
    }
    .container,
    .production-container,
    .partners-container {
        padding-left: 20px !important;
        margin-left: 0 !important;
        .headline {
            // margin-top: 120px;
            margin-right: 0;
        }
        .title,
        .paragraph {
            margin-right: 0;
        }
    }
    .full-height-row__content {
        max-width: 50%;
        flex: 0 0 50%;
        margin-left: 0 !important;
        padding-left: 20px;
        padding-right: 0;
    }
    .text-row {
        padding-right: 0;
        padding-left: 20px;
    }
    .two-equals-row {
        padding-left: 20px;
        padding-right: 0;
    }
    .two-equals-row__block {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        // text-align: center;
    }
    .slider-counter {
        padding-right: 20px !important;
    }
    .two-offseted-images-row,
    .our-achivements-row {
        padding-left: 20px;
        padding-right: 0;
    }
    .full-height-row__content {
        margin-right: 20px !important;
    }
    .navigation-row__link:first-child {
        // margin-left: -20px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .navigation-row__link:last-child {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .trade-marks-container .full-height-row__content--padding-right {
        padding-right: 0 !important;
    }
    .full-height-row--equal .full-height-row__content {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .full-height-row__image {
        display: none !important;
    }
    .partners-container .paragraph,
    .partners-container .title,
    .production-container .paragraph,
    .production-container .title {
        margin-right: 20px !important;
    }
    .slider-product {
        height: 170px !important;
        width: 340px !important;
        &__inner {}
    }
    .two-equals-row {
        padding-left: 20px !important;
        padding-right: 20px !important;
        >* {
            padding: 0 !important;
        }
        &__block {
            max-width: 100% !important;
            flex: 0 0 100% !important;
        }
    }
    .full-screen-image-row {
        // margin-left: -20px !important;
    }
    .our-achivements-row {
        &__v-line {
            display: none !important;
        }
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__elem {
            &-counter {
                margin-right: 0 !important;
                width: 150px !important;
                flex: 0 0 150px !important;
                margin-top: 20px;
                margin-bottom: 20px;
                &::before,
                &::after {
                    display: none !important;
                }
                &--large {
                    width: 150px !important;
                    flex: 0 0 150px !important;
                    margin-left: 0 !important;
                }
            }
        }
    }
    .text-row {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .text-row {
        &__title {
            max-width: 100% !important;
            flex: 0 0 100% !important;
        }
        &__content {
            max-width: 100% !important;
            flex: 0 0 100% !important;
        }
    }
}