@media screen and (max-width: 768px) {
    .page-not-found {
        // margin-left: 80px !important;
        // margin-right: 80px !important;
        max-width: initial !important;
        text-align: center !important;
    }
}

@media screen and (min-width: 768px) {
    .page-not-found {
        // margin-left: 80px !important;
        // margin-right: 80px !important;
        max-width: 750px !important;
    }
}

@media screen and (min-width: 992px) {
    .logo--mobile{
       display: none;
    }
    .page-not-found {
        // margin-left: 80px !important;
        // margin-right: 80px !important;
        max-width: 970px !important;
    }
}

@media screen and (min-width: 1200px) {
    .page-not-found {
        // margin-left: 80px !important;
        // margin-right: 80px !important;
        max-width: 1170px !important;
    }
}

@media screen and (max-width: 1024px) {
    html,
    body {
        //font-size: 12.5217391304px;
    }
    h2 {
        font-size: 2.25rem;
    }
    .headline {
        font-size: .875rem;
    }
    .title {
        font-size: 2.25rem;
    }
    .title-2 {}
    .title-3 {}
    .paragraph {
        font-size: 1.125rem;
    }
    .date {
        font-size: 1.125rem;
    }
    .breadcrumbs-link {
        font-size: 1.125rem;
    }
    .scroll-down {
        font-size: 1.125rem;
    }
    .full-height-row--inverse {
        .full-height-row__content {
            padding-left: 120px !important;
            -ms-flex-preferred-size: 0 !important;
            //flex-basis: auto;
            -webkit-box-flex: 1 !important;
            -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
            max-width: 100% !important;
        }
        .full-height-row__image {
            margin-right: 0 !important;
            flex: 0 0 26.367% !important;
            max-width: 26.367% !important;
        }
    }
    .our-achivements-row:before {
        width: 73.633% !important;
    }
    body .pt-200 {
        padding-top: 150px !important;
    }
    body .pb-200 {
        padding-bottom: 150px !important;
    }
    body .py-200 {
        padding-bottom: 150px !important;
        padding-top: 150px !important;
    }
    .navigation-row__link:first-child {
        padding-left: 120px !important;
    }
    .navigation-row__link:last-child {
        padding-right: 120px !important;
    }
    .two-equals-row {
        padding-left: 120px !important;
        padding-right: 120px !important;
    }
    .text-row {
        padding-left: 120px !important;
        padding-right: 120px !important;
    }
    .our-partners-row {
        margin-left: 120px !important;
    }
    .our-partners-row .paragraph,
    .our-partners-row .title {
        margin-left: 120px !important;
        margin-right: 120px !important;
    }
    .offset-image-center-row{
        margin-left: 120px !important;
        margin-right: 120px !important;
    }
    .two-offseted-images-row{
        padding-left: 120px !important;
        padding-right: 120px !important;
    }
}

@media screen and (max-width: 768px) {
    html,
    body {
        //font-size: 12.5217391304px;
    }
    body .blog_page_container{
        padding-left: 60px !important;
    }
    main{
        padding-top: 30px;
    }
    .text-row h3{
        font-size: 1.375rem !important;
    }
    .contacts-info__text{
        font-size: 1rem !important;
    }
    h2 {
        font-size: 2.25rem;
    }
    .headline {
        font-size: .875rem;
    }
    .title {
        font-size: 2.25rem;
    }
    .title-2 {

    }
    .title-3 {}
    .paragraph {
        font-size: 1rem;
    }
    .date {
        font-size: 1rem;
    }
    .title{
        &--line{
            &::before{
                display: none !important;
            }
        }
    }
    .breadcrumbs-link {
        font-size: 1rem;
    }
    .scroll-down {
        font-size: 1rem;
    }
    .navigation__menu-item a{
        font-size: 1rem !important;
    }
    body .pt-200 {
        padding-top: 50px !important;
    }
    body .pb-200 {
        padding-bottom: 50px !important;
    }
    body .py-200 {
        padding-bottom: 50px !important;
        padding-top: 50px !important;
    }
    .full-height-row--title {
        margin-top: 0 !important;
    }
    .full-height-row {
        .full-height-row__content {
            padding-left: 60px !important;
            -ms-flex-preferred-size: 0 !important;
            //flex-basis: auto;
            -webkit-box-flex: 1 !important;
            -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
            max-width: 100% !important;
        }
        .full-height-row__image {
            // margin-right: 0 !important;
            // flex: 0 0 26.367% !important;
            // max-width: 26.367% !important;
            display: none !important;
        }
    }
    .navigation__menu {
        min-width: 100vw !important;
        // position: relative;
        overflow-y: auto;
        left: -100vw !important;
    }
    .navigation__menu--active {
        left: 0 !important;
    }
    .navigation__menu-list {
        position: absolute;
        top: 30px;
        text-align: center;
        .navigation__menu-item.active a span,
        .navigation__menu-item:hover a span {
            transform: none;
        }
    }
    .navigation__copyright {
        position: initial !important;
    }
    .navigation__toggler--fixed {
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 1001;
    }
    .image--full-width {
        margin-left: 0px;
        width: 100vw;
        height: auto;
    }
    .content {
        padding-left: 0px !important;
        margin-left: 0 !important;
    }
    .container,
    .production-container,
    .partners-container {
        padding-left: 60px !important;
        margin-left: 0 !important;
        .headline {
            // margin-top: 120px;
            margin-right: 0;
        }
        .title,
        .paragraph {
            margin-right: 0;
        }
    }
    .full-height-row__content {
        max-width: 50%;
        flex: 0 0 50%;
        margin-left: 0 !important;
        padding-left: 60px !important;
        padding-right: 0;
    }
    .text-row {
        padding-right: 0;
        padding-left: 60px;
    }
    .two-equals-row {
        padding-left: 60px;
        padding-right: 0;
    }
    .slider-counter {
        padding-right: 20px !important;
    }
    .navigation-row {
        display: flex;
        justify-content: space-between;
        &__link {
            padding-top: 38px;
            padding-bottom: 38px;
            &:first-child {
                padding-left: 0;
            }
        }
    }
    .two-offseted-images-row,
    .our-achivements-row {
        padding-left: 60px;
        padding-right: 0;
    }
    .full-height-row__content {
        padding-left: 60px;
        padding-right: 60px !important;
        margin-right: 60px !important;
    }
    .trade-marks-container {
        .full-height-row__content--padding-right {
            // padding-left: 0 !important;
            padding-right: 35% !important;
        }
    }
    .blog_page_container {
        .full-height-row__content {
            //padding-top: 13.333vh !important;
            //padding-bottom: 13.333vh !important;
            height: auto !important;
            overflow: initial !important;
            padding-left: 0 !important;
        }
        .full-height-row {
            &__image {
                display: none;
            }
        }
    }
    .navigation-row__link:first-child {
        // margin-left: -60px;
        padding-left: 60px !important;
    }
    .navigation-row__link:last-child {
        padding-right: 60px !important;
    }
    .full-height-row__title--vertical {
        margin-right: 30px !important;
    }
    .our-achivements-row {
        padding-left: 60px !important;
        padding-right: 0 !important;
        &::before {
            display: none !important;
        }
    }
    .two-equals-row {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
    .full-screen-image-row {
        margin-left: 0px !important;
    }
    .text-row {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
    .trade-marks-images-row {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 50px;
    }
    .our-partners-row {
        margin-left: 60px !important;
    }
    .our-partners-row .paragraph,
    .our-partners-row .title {
        margin-left: 60px !important;
        margin-right: 60px !important;
    }
    .offset-image-row {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
        margin-top: 0 !important;
        &__image {
            position: relative !important;
            top: initial !important;
            flex: 0 0 100% !important;
            max-width: 100% !important;
            img{
               padding-right: 60px !important;
                padding-left: 60px !important;
            }
        }
        &__content{
            margin: 0 !important;
            padding-right: 60px !important;
            margin-left: 60px !important;
        }
    }
    .offset-image-center-row{
        margin-left: 60px !important;
        margin-right: 60px !important;
    }
    .two-offseted-images-row{
        padding-left: 60px !important;
        padding-right: 60px !important;
        &__block{
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
    }
    .slider-partners-elem {
        margin-left: 50px !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        &__img--top,&__img--bottom{
            max-width: 70px;
        }
        &__img--top {
            margin-bottom: 35px !important;
        }
        &__img--bottom {
            margin-left: 45px !important;
        }
    }
    .blog-container{
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
    .scroll-progress {
        left: 0 !important;
    }
    .audience-row .title,.audience-row .paragraph{
        position: initial !important;
        top: initial !important;
        left: initial !important;
        margin-top: initial !important;
    }
    .audience-row .title{
        padding-left: 60px !important;
    }
}

@media screen and (max-width: 576px) {
    html,
    body {
        //font-size: 9.04347826087px;
    }
    body .blog_page_container{
        padding-left: 20px !important;
    }
    main{
        padding-top: 30px;
    }
    .logo--mobile{
        width: 111px !important;
    }
    .contacts-info__text{
        font-size: .875rem !important;
    }
    .contacts-info__label{
        font-size: .675rem !important;
    }
    h2 {
        font-size: 1.5rem;
    }
    .headline {
        font-size: .675rem;
    }
    .title {
        font-size: 1.5rem;
    }
    .title-2 {

    }
    .title-3 {}
    .paragraph {
        font-size: .875rem;
    }
    .date {
        font-size: .875rem;
    }
    .breadcrumbs-link {
        font-size: .875rem;
    }
    .scroll-down {
        font-size: .875rem;
    }
    .image--full-width {
        margin-left: 0px;
        width: 100vw;
        height: auto;
    }
    body .our-achivements-row {
        padding: 50px 0;
    }
    .container,
    .production-container,
    .partners-container {
        padding-left: 20px !important;
        margin-left: 0 !important;
        .headline {
            // margin-top: 120px;
            margin-right: 0;
        }
        .title,
        .paragraph {
            margin-right: 0;
        }
    }
    .full-height-row {
        .full-height-row__content {
            max-width: 50%;
            flex: 0 0 50%;
            margin-left: 0 !important;
            // padding-left: 20px;
            // padding-right: 0;
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }
    .text-row {
        padding-right: 0;
        padding-left: 20px;
    }
    .two-equals-row {
        padding-left: 20px;
        padding-right: 0;
    }
    .two-equals-row__block {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        // text-align: center;
    }
    .slider-counter {
        padding-right: 20px !important;
    }
    .two-offseted-images-row,
    .our-achivements-row {
        padding-left: 20px;
        padding-right: 0;
    }
    .full-height-row__content {
        margin-right: 20px !important;
    }
    .navigation-row__link:first-child {
        // margin-left: -20px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .navigation-row__link:last-child {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .trade-marks-container .full-height-row__content--padding-right {
        // padding-right: 0 !important;
    }
    .full-height-row--equal .full-height-row__content {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .full-height-row__image {
        display: none !important;
    }
    .partners-container .paragraph,
    .partners-container .title,
    .production-container .paragraph,
    .production-container .title {
        margin-right: 20px !important;
    }
    .slider-product {
        height: 170px !important;
        width: 340px !important;
        &__inner {}
    }
    .two-equals-row {
        padding-left: 20px !important;
        padding-right: 20px !important;
        >* {
            padding: 0 !important;
        }
        &__block {
            max-width: 100% !important;
            flex: 0 0 100% !important;
        }
    }
    .full-screen-image-row {
        // margin-left: -20px !important;
    }
    .our-achivements-row {
        &__v-line {
            display: none !important;
        }
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__elem {
            &-counter {
                margin-right: 0 !important;
                width: 150px !important;
                flex: 0 0 150px !important;
                margin-top: 20px;
                margin-bottom: 20px;
                &::before,
                &::after {
                    display: none !important;
                }
                &--large {
                    width: 150px !important;
                    flex: 0 0 150px !important;
                    margin-left: 0 !important;
                }
            }
        }
    }
    .text-row {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .text-row {
        &__title {
            max-width: 100% !important;
            flex: 0 0 100% !important;
        }
        &__content {
            max-width: 100% !important;
            flex: 0 0 100% !important;
        }
    }
    .our-partners-row .paragraph,
    .our-partners-row .title {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .our-partners-row {
        margin-left: 20px !important;
    }
    .offset-image-row {
        padding-top: 50px !important;
        margin-top: 0 !important;
        &__image{
           img{
               padding-right: 20px !important;
               padding-left: 20px !important;
           }
        }
        &__content{
            padding-right: 20px !important;
            margin-left: 20px !important;
        }
    }
    .offset-image-center-row{
        margin-left: 0 !important;
        margin-right: 0 !important;
        .offset-image-row__image{
            left: 0 !important;
        }
    }
    .two-offseted-images-row{
        padding-left: 20px !important;
        padding-right: 20px !important;
        &__image-bottom{
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
    }
    body .blog-container{

        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .audience-row .title{
        padding-left: 20px !important;
    }
}
//@media screen and (max-width: 576px) and (orientation: portrait){
//    body{
//        .bg-1 {
//            left: 60.944vmax;
//            top: 0;
//            width: 59.028vmax;
//            height: 72.778vh;
//            // background: url("../img/bg-1.png") no-repeat;
//            // background-size: cover;
//            // background-position: left top;
//        }
//
//        .bg-2 {
//            left: 115.972vmax;
//            top: 72.222vh;
//            height: 27.778vh;
//            width: 30.556vmax;
//        }
//
//        .bg-3 {
//            left: 173.611vmax;
//            top: 0;
//            height: 100vh;
//            width: 43.056vmax;
//        }
//
//        .bg-4 {
//            left: 239.833vmax;
//            top: 11.667vh;
//            height: 40vh;
//            width: 56.25vmax;
//        }
//
//        .bg-5 {
//            left: 274.833vmax;
//            top: 27.556vh;
//            height: 72.444vh;
//            width: 31.181vmax;
//        }
//
//        .bg-6 {
//            left: 370.833vmax;
//            top: 52.667vh;
//            height: 40vh;
//            width: 34.722vmax;
//        }
//
//        .bg-7 {
//            left: 400.833vmax;
//            top: 0;
//            height: 100vh;
//            width: 56.417vmax;
//        }
//
//        .screen-1 {
//            left: 17.361vmax;
//            width: 40vmax;
//            &__logo {
//                width: 13.194vmax;
//                margin-bottom: 3.889vh;
//            }
//            h2 {
//                font-size: 2.083vmax;
//                margin-bottom: 7.778vh;
//                font-weight: 400;
//            }
//            .breadcrumbs-link {
//                font-size: 1.25vmax;
//            }
//        }
//
//        .screen-2 {
//            left: 143.944vmax;
//            width: 48.792vmax;
//            h1 {
//                font-size: 3.194vmax;
//                margin-bottom: 6.111vh;
//            }
//            p {
//                margin-left: 9.028vmax;
//                font-size: 1.25vmax;
//            }
//        }
//
//        .screen-3 {
//            left: 269.544vmax;
//            width: 48.792vmax;
//            h1 {
//                margin-top: 40.667vh;
//                font-size: 3.194vmax;
//                margin-bottom: 6.111vh;
//            }
//            p {
//                margin-left: 9.028vmax;
//                font-size: 1.25vmax;
//            }
//        }
//
//        .screen-4 {
//            left: 394.544vmax;
//            width: 48.792vmax;
//            h1 {
//                margin-top: 6.667vh;
//                font-size: 3.194vmax;
//                margin-bottom: 6.111vh;
//            }
//            p {
//                margin-left: 9.028vmax;
//                font-size: 1.25vmax;
//            }
//        }
//
//        .screen-5 {
//            left: 452.544vmax;
//            width: 41.692vmax;
//            align-self: flex-start;
//            h1 {
//                margin-top: 16.111vh;
//                font-size: 3.194vmax;
//                margin-bottom: 6.111vh;
//            }
//            p {
//                // margin-left: 9.028vmax;
//                font-size: 1.25vmax;
//            }
//        }
//
//        .screen-6 {
//            left: 596.544vmax;
//            width: 39.692vmax;
//            align-self: flex-start;
//            h6 {
//                margin-top: 21.111vh;
//                margin-bottom: 4.444vh;
//            }
//            h1 {
//                font-size: 3.194vmax;
//                margin-bottom: 6.111vh;
//            }
//            p {
//                // margin-left: 9.028vmax;
//                font-size: 1.25vmax;
//                margin-bottom: 3.333vh;
//            }
//            .breadcrumbs-link {
//                font-size: 1.25vmax;
//                margin-top: 8.333vh;
//            }
//        }
//
//        .leaf-1 {
//            left: 30.556vmax;
//            top: 57.222vh;
//        }
//
//        .leaf-2 {
//            left: 44.722vmax;
//            top: 10.556vh;
//        }
//
//        .leaf-3 {
//            top: 66.667vh;
//            left: 78.75vmax;
//        }
//
//        .leaf-4 {
//            top: 8.889vh;
//            left: 159.375vmax;
//        }
//
//        .leaf-5 {
//            top: 59.444vh;
//            left: 165.625vmax;
//        }
//
//        .leaf-6 {
//            top: 40.556vh;
//            left: 258.194vmax;
//        }
//
//        .leaf-7 {
//            top: 22.222vh;
//            left: 269.097vmax;
//        }
//
//        .leaf-8 {
//            top: 83.333vh;
//            left: 284.236vmax;
//        }
//
//        .leaf-9 {
//            top: 74.444vh;
//            left: 358.681vmax;
//        }
//
//        .leaf-10 {
//            top: 23.333vh;
//            left: 371.181vmax;
//        }
//
//        .leaf-11 {
//            top: 37.222vh;
//            left: 373.611vmax;
//        }
//
//        .leaf-12 {
//            top: 53.333vh;
//            left: 446.528vmax;
//        }
//
//        .leaf-13 {
//            top: 21.111vh;
//            left: 496.528vmax;
//        }
//        .horizon {
//            z-index: 2;
//            width: 500vmax;
//            height: 100%;
//        }
//
//        .leafs {
//            z-index: 10;
//            width: 750vmax;
//            height: 100%;
//        }
//
//        .leafs-2 {
//            z-index: 1;
//            width: 580vmax;
//            height: 100%;
//        }
//
//        .front {
//            z-index: 5000;
//        }
//
//        .middle {
//            z-index: 1000;
//            top: 0;
//            height: 100%;
//            width: 650vmax;
//            display: flex;
//            align-items: center;
//            .offset {
//                margin-left: 120px;
//            }
//            .title--line:before {
//                top: 1.75vw;
//            }
//        }
//    }
//}
