@import "colors";
@import "transitions";
@import "fonts";
@import "bootstrap.css";
@import "slick.css";
@import "swiper.min.css";
@import "media";
@import "animate.min.css";
@import "selectric.css";
/* animations */
@mixin transitionMenu {
    @for $i from 1 through 50 {
        &:nth-child(#{$i}) {
            transition: transform 1.4s #{$i * .08}s cubic-bezier(.29,1.4,.44,.96);
        }
    }
}
@keyframes translateRight {
    from {
        -webkit-transform: translate3d(20%, 0, 0) scale3d(1.15,1,1);
        transform: translate3d(20%, 0, 0) scale3d(1.15,1,1);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,1,1);
        transform: translate3d(0, 0, 0) scale3d(1,1,1);
    }
}

.translateRight {
    -webkit-animation-name: translateRight;
    animation-name: translateRight;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
@keyframes translateRightBrightness {
    from {
        -webkit-transform: translate3d(20%, 0, 0) scale3d(1.15,1,1);
        transform: translate3d(20%, 0, 0) scale3d(1.15,1,1);
        -webkit-filter: brightness(200%);
        filter: brightness(200%);
        opacity: .5;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,1,1);
        transform: translate3d(0, 0, 0) scale3d(1,1,1);
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
        opacity: 1;
    }
}

.translateRightBrightness {
    -webkit-animation-name: translateRightBrightness;
    animation-name: translateRightBrightness;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
@keyframes translateLeft {
    from {
        -webkit-transform: translate3d(-20%, 0, 0) scale3d(1.15,1,1);
        transform: translate3d(-20%, 0, 0) scale3d(1.15,1,1);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,1,1);
        transform: translate3d(0, 0, 0) scale3d(1,1,1);
    }
}

.translateLeft {
    -webkit-animation-name: translateLeft;
    animation-name: translateLeft;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}

@keyframes translateLeftBrightness {
    from {
        -webkit-transform: translate3d(-20%, 0, 0) scale3d(1.15,1,1);
        transform: translate3d(-20%, 0, 0) scale3d(1.15,1,1);
        -webkit-filter: brightness(200%);
        filter: brightness(200%);
        opacity: .5;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1,1,1);
        transform: translate3d(0, 0, 0) scale3d(1,1,1);
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
        opacity: 1;
    }
}

.translateLeftBrightness {
    -webkit-animation-name: translateLeftBrightness;
    animation-name: translateLeftBrightness;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}
@keyframes scaleXRTL {
    from {
        -webkit-transform: scale3d(.85,1,1);
        transform: scale3d(.85,1,1);
    }
    to {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }
}

.scaleXRTL {
    -webkit-animation-name: scaleXRTL;
    animation-name: scaleXRTL;
    transform-origin: 100% 50%;
}
@keyframes scaleXLTR {
    from {
        -webkit-transform: scale3d(.85,1,1);
        transform: scale3d(.85,1,1);
    }
    to {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }
}

.scaleXLTR {
    -webkit-animation-name: scaleXLTR;
    animation-name: scaleXLTR;
    transform-origin: 0% 50%;
}
@keyframes leafTransform {
    from {
        opacity: 0;
        transform: rotate3d(0,1,.1,-50deg);
    }
    to {
        opacity: 1;
        transform: rotate3d(0,1,0,0deg);
    }
}

.leafTransform {
    -webkit-animation-name: leafTransform;
    animation-name: leafTransform;
    transform-origin: bottom left;
    visibility: visible;
    //animation: 3s linear leafTransform ;
}
* {
    font-family: "Proxima Nova";
}
.logo--mobile{
    width: 143px;
}
.parallax-element{
    z-index: -1;
    position: relative;
}
.slick-slide {
    outline: none;
}

.swiper-slide {
    width: auto;
}

.swiper-pagination-progressbar {
    position: relative;
    background: #f7f7f7;
    height: 2px !important;
    margin-top: 39px;
    -ms-flex-preferred-size: 0;
    flex-basis: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.slider-counter {
    margin-top: 32px;
    flex: 0 0;
    margin-left: 38px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #bda282;
}

html,
body {
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
// .mb-0 {
//     margin-bottom: 0 !important;
// }
// .mt-0 {
//     margin-top: 0 !important;
// }
// .ml-0 {
//     margin-left: 0 !important;
// }
// .mr-0 {
//     margin-right: 0 !important;
// }
// .pb-0 {
//     padding-bottom: 0 !important;
// }
// .pt-0 {
//     padding-top: 0 !important;
// }
// .pl-0 {
//     padding-left: 0 !important;
// }
// .pr-0 {
//     padding-right: 0 !important;
// }
.pt-150 {
    padding-top: 150px !important;
}

.py-200 {
    padding-top: 200px !important;
    padding-bottom: 200px !important;
}

.pt-200 {
    padding-top: 200px !important;
}

.pb-200 {
    padding-bottom: 200px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

// .align-items-start {
//     align-items: flex-start !important;
// }
// .d-flex {
//     display: flex !important;
// }
// .d-inline {
//     display: inline !important;
// }
.hidden {
    visibility: hidden;
}

.hidden.title--line:before {
    visibility: visible;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto,
.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.logo-mobile{
    max-width: 120px !important;
}
.fluid-right{
    margin-right: -15px;
}
.fluid-left{
    margin-left: -15px;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.color__inverse {
    * {
        color: $white !important;
    }
    .title--line {
        &::before {
            background: #697181;
        }
    }
}

.horizontal-wrapper {
    // overflow-x: hidden;
}
#vertical-wrapper{
    position: relative;
    .leafs-mobile{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        .leaf-mobile{
            position: absolute;
            max-width: 12vw;
        }
        .leaf-mobile-1{
            top: 6%;
            left: 90%;
        }
        .leaf-mobile-2{
            top: 9%;
            left: 10%;
        }
        .leaf-mobile-3{
            top: 18%;
            left: 10%;
        }
        .leaf-mobile-4{
            top: 24%;
            left: 60%;
        }
        .leaf-mobile-5{
            top: 40%;
            left: 5%;
        }
        .leaf-mobile-6{
            top: 44%;
            left: 90%;
        }
        .leaf-mobile-7{
            top: 60%;
            left: 95%;
        }
        .leaf-mobile-8{
            top: 65%;
            left: 5%;
        }
        .leaf-mobile-9{
            top: 67%;
            left: 10%;
        }
        //@for $i from 1 through 9 {
        //    .leaf-mobile-#{$i} {
        //        top: percentage(random(100)/100);
        //        left: percentage(random(100)/100);
        //        max-width: random(5) + 12 + vw;
        //    }
        //}
    }
}
.scroll__inner {
    position: absolute;
}

.scroll-progress {
    position: fixed;
    z-index: 1400;
    bottom: 0;
    left: 120px;
    width: calc(100% - 120px);
    height: 4px;
    &__inner {
        position: absolute;
        background-color: #eda318;
        height: 100%;
        width: 0;
        transition: width 0.1s linear;
    }
}

.video-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3000;
    background: $white;
    transform: translate3d(0, -200vh, 0);
    @include transition(transform);
    padding-left: 11.111vw;
    padding-right: 11.111vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    &__inner{
        width: 100%;
        height: auto;
        position: relative;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__button{
        position: absolute;
        width: 100px;
        height: 100px;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform .1s linear;
        &:hover{
          transform: scale(1.2);
            //svg{
            //   transform: scale(.835);
            //}
        }
        //svg{
        //    transform-origin: center center;
        //    transition: transform .1s linear;
        //}
    }
}

.video-popup.active {
    transform: translate3d(0, 0, 0);
}
.language-popup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2200;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.3);
    &--active{
        display: flex;
    }
    &__inner{
        background: $white;
        position: relative;
        padding: 45px;
        min-width: 350px;
        h2{
            font-size: 1.5rem;
            padding-top: 15px;
            text-align: center;
            margin-bottom: 30px;
        }
        .selectric,.selectric .button{
            background: $white;
        }
        .selectric .label{
            font-size: 1rem;
        }
        .selectric-items li{
            font-size: 1rem;
            background: $white;
        }
        .selectric-items li.selected{
            color: $white;
            background: #bda282;
        }
    }
}
.parallax-bg,
.static-bg {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    // position: relative;
    // overflow: hidden;
    transition: background-position 0.15s linear;
    width: 100%;
    height: 100%;
    // img {
    //     // height: auto;
    //     // width: auto;
    //     // min-height: 100%;
    //     // min-width: 140%;
    //     max-width: 120%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    // }
}

.bg-1 {
    left: 60.944vw;
    top: 0;
    width: 59.028vw;
    height: 72.778vh;
    // background: url("../img/bg-1.png") no-repeat;
    // background-size: cover;
    // background-position: left top;
}

.bg-2 {
    left: 115.972vw;
    top: 72.222vh;
    height: 27.778vh;
    width: 30.556vw;
}

.bg-3 {
    left: 173.611vw;
    top: 0;
    height: 100vh;
    width: 43.056vw;
}

.bg-4 {
    left: 239.833vw;
    top: 11.667vh;
    height: 40vh;
    width: 56.25vw;
}

.bg-5 {
    left: 266.833vw;
    top: 27.556vh;
    height: 72.444vh;
    width: 31.181vw;
}

.bg-6 {
    left: 370.833vw;
    top: 52.667vh;
    height: 40vh;
    width: 34.722vw;
}

.bg-7 {
    left: 400.833vw;
    top: 0;
    height: 100vh;
    width: 56.417vw;
}

.screen-1 {
    left: 17.361vw;
    width: 40vw;
    &__logo {
        width: 13.194vw;
        margin-bottom: 3.889vh;
    }
    h2 {
        font-size: 2.083vw;
        margin-bottom: 7.778vh;
        font-weight: 400;
    }
    .breadcrumbs-link {
        font-size: 1.25vw;
    }
}

.screen-2 {
    left: 143.944vw;
    width: 48.792vw;
    h1 {
        font-size: 3.194vw;
        margin-bottom: 6.111vh;
    }
    p {
        margin-left: 9.028vw;
        font-size: 1.25vw;
    }
}

.screen-3 {
    left: 269.544vw;
    width: 48.792vw;
    h1 {
        margin-top: 40.667vh;
        font-size: 3.194vw;
        margin-bottom: 6.111vh;
    }
    p {
        margin-left: 9.028vw;
        font-size: 1.25vw;
    }
}

.screen-4 {
    left: 394.544vw;
    width: 48.792vw;
    h1 {
        margin-top: 6.667vh;
        font-size: 3.194vw;
        margin-bottom: 6.111vh;
    }
    p {
        margin-left: 9.028vw;
        font-size: 1.25vw;
    }
}

.screen-5 {
    left: 452.544vw;
    width: 41.692vw;
    align-self: flex-start;
    h1 {
        margin-top: 16.111vh;
        font-size: 3.194vw;
        margin-bottom: 6.111vh;
    }
    p {
        // margin-left: 9.028vw;
        font-size: 1.25vw;
    }
}

.screen-6 {
    left: 596.544vw;
    width: 39.692vw;
    align-self: flex-start;
    h6 {
        margin-top: 21.111vh;
        margin-bottom: 4.444vh;
    }
    h1 {
        font-size: 3.194vw;
        margin-bottom: 6.111vh;
    }
    p {
        // margin-left: 9.028vw;
        font-size: 1.25vw;
        margin-bottom: 3.333vh;
    }
    .breadcrumbs-link {
        font-size: 1.25vw;
        margin-top: 8.333vh;
    }
}

.leaf-1 {
    left: 30.556vw;
    top: 57.222vh;
}

.leaf-2 {
    left: 44.722vw;
    top: 10.556vh;
}

.leaf-3 {
    top: 66.667vh;
    left: 78.75vw;
}

.leaf-4 {
    top: 8.889vh;
    left: 159.375vw;
}

.leaf-5 {
    top: 59.444vh;
    left: 175.625vw;
}

.leaf-6 {
    top: 40.556vh;
    left: 258.194vw;
}

.leaf-7 {
    top: 22.222vh;
    left: 240.097vw;
}

.leaf-8 {
    top: 83.333vh;
    left: 284.236vw;
}

.leaf-9 {
    top: 74.444vh;
    left: 358.681vw;
}

.leaf-10 {
    top: 23.333vh;
    left: 371.181vw;
}

.leaf-11 {
    top: 37.222vh;
    left: 373.611vw;
}

.leaf-12 {
    top: 53.333vh;
    left: 446.528vw;
}

.leaf-13 {
    top: 21.111vh;
    left: 496.528vw;
}

.scroll {
    position: fixed;
    top: 0;
    left: 0;
}

.horizon {
    z-index: 2;
    width: 500vw;
    height: 100%;
}

.leafs {
    z-index: 10;
    width: 750vw;
    height: 100%;
}

.leafs-2 {
    z-index: 1;
    width: 580vw;
    height: 100%;
}

.front {
    z-index: 5000;
}
.breakpoints{
    z-index: 999;
    top: 0;
    height: 100%;
    width: 650vw;
    .breakpoint-1{
        top: 0;
        left: 0;
    }
    .breakpoint-2{
        top: 0;
        left: 128vw;
    }
    .breakpoint-3{
        left: 300vw;
    }
    .breakpoint-4{
        left: 433vw;
    }
    .breakpoint-5{
        left: 553vw;
    }
    .breakpoint-6{
        left: 700vw;
    }

}
.middle {
    z-index: 1000;
    top: 0;
    height: 100%;
    width: 650vw;
    display: flex;
    align-items: center;
    .offset {
        margin-left: 120px;
    }
    .title--line:before {
        top: 1.75vw;
    }
}


.img-fluid {
    max-width: 100%;
    height: auto;
}


/** navigation **/

.navigation {
    // flex: 0 0 120px;
    // background: $lightgray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1020;
    // max-width: 120px;
    // width: 100%;
    height: 100%;
    &__wrapper {
        min-height: 100%;
        display: flex;
    }
    &__aside {
        background: $lightgray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 63px;
        flex: 0 0 120px;
    }
    &__cross {
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
        &__inner {
            position: relative;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 100;
            &:hover {
                &::before,
                &::after {
                    background: $darkgray;
                }
            }
            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                width: 2px;
                height: 100%;
                background: $gray;
                transform: rotate(45deg);
                @include transition(background);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
    &__copyright {
        position: absolute;
        bottom: 63px;
        a{
            text-decoration: none;
        }
        span {
            color: #aeaeae;
            font-size: 1rem;
            strong {
                color: #9c9c9c;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }

    &__menu {
        &--active {
            left: 120px;
            opacity: 1;
            .navigation__menu-item{
                transform: translateX(0);

            }
        }
        border-left: 1px solid #d4d4d4;
        transition: left .8s ease-in-out,opacity .8s ease-in-out;
        opacity: .4;
        z-index: -1;
        position: absolute;
        min-width: 600px;
        left: -650px;
        background: $lightgray;
        padding-top: 30px;
        padding-bottom: 63px;
        min-height: 100%;
        flex: 1 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &-list {
            padding-left: 0;
            list-style: none;
        }
        &-item {
            margin-top: 20px;
            margin-bottom: 20px;
            @include transitionMenu;
            transform: translateX(-100vw);
            a {
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
                color: #383838;
                @include transition(color);
                span {
                    display: inline-block;
                    @include transition(transform);
                }
            }
            &:hover,
            &.active {
                a {
                    color: $latte;
                    span {
                        transform: translateX(30px);
                    }
                }
            }
        }
    }
    &__logo {
        width: 50px;
        height: 50px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &__toggler {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        svg {
            width: 16px;
            height: 16px;
        }
        .st0 {
            fill: $gray;
        }
        span {
            -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-size: 18px;
            color: $gray;
            margin-top: 12px;
            cursor: pointer;
        }
    }
    &__language {
        width: 38px;
        height: 38px;
        border: 1px solid #dedede;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: border-color .3s linear;
        img{
            width: 30px;
            height: 30px;
        }
        &:hover{
            border: 1px solid #bda282;
        }
    }
}


/** global **/

.page-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.first-container {
    &__text {
        margin-left: 136px;
        margin-right: 156px;
        h2 {
            max-width: 526px;
        }
    }
}

.container {
    padding-left: 140px !important;
    margin-left: 120px;
}

.content {
    margin-left: 120px;
    // margin-right: 140px !important;
    .title {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .paragraph {
        // max-width: 45.833%;
        margin-bottom: 30px;
        a {
            color: inherit;
        }
    }
}


/** production-container **/

.production-container,
.partners-container {
    padding-left: 140px;
    // margin-right: 120px;
    padding-bottom: 3rem;
    min-height: 100vh;
    .headline {
        //margin-top: 120px;
        margin-right: 120px;
    }
    .title,
    .paragraph {
        margin-right: 120px;
    }
}

.slider-container {
    position: relative;
    &::before{
        content: '';
        z-index: 100;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 10%;
        height: 100%;
        background: rgba(255,255,255,0);
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
    &::after{
        content: '';
        z-index: 100;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 10%;
        height: 100%;
        background: rgba(255,255,255,0);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }
    a {
        text-decoration: none;
    }
    margin-bottom: 50px;
}

.slider-counter {
    color: $gray;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 140px;
    #current-slide {
        color: $latte;
    }
}

.slider-product {
    height: 250px;
    width: 440px;
    position: relative;
    overflow: hidden;
    // margin-right: 60px;
    &__inner {
        padding: 35px 90px 30px 35px;
    }
    &__bg {
        position: absolute;
        max-width: 100%;
        height: auto;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    &:hover {
        .headline,
        h2 {
            color: #eda318;
        }
        .slider-product__button {
            border-color: #eda318;
            &-arrow {
                &:before {
                    background: #eda318;
                }
                &::after {
                    border-color: #eda318;
                }
            }
        }
    }
    .headline {
        margin-top: 0;
        color: $white;
        text-transform: initial;
        margin-bottom: 20px;
        @include transition(color);
    }
    h2 {
        color: $white;
        @include transition(color);
    }
    &__button {
        position: absolute;
        right: 20px;
        bottom: 20px;
        border: 1px solid $white;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition(border);
        &-arrow {
            position: relative;
            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
            }
            &::before {
                width: 20px;
                height: 2px;
                background: $white;
                margin-left: -10px;
                @include transition(background);
            }
            &::after {
                width: 8px;
                height: 8px;
                border: 2px solid $white;
                @include transition(border);
                transform: rotate(45deg);
                border-bottom: none;
                border-left: none;
                margin-top: -3px;
                margin-left: 3px;
            }
        }
    }
}

.newest-products-container {
    .full-height-row {
        // margin-right: 140px;
    }
}

.full-screen-image-row {
    margin-left: -120px;
}

.full-height-row--inverse {
    .full-height-row__image {
        margin-left: 11.05%;
    }
    .full-height-row__content {
        margin-right: 0;
    }
}

.full-height-row--equal {
    .full-height-row__image {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        margin-left: 0;
        padding-left: 80px;
        margin-right: 140px;
    }
    .full-height-row__content {
        max-width: 50%;
        flex: 0 0 50%;
        margin-left: 0 !important;
        padding-left: 140px;
        padding-right: 70px;
    }
}

.full-height-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &--title {
        margin-top: 120px;
        .full-height-row__image {
            margin-left: 140px;
        }
    }
    &__controll {
        position: absolute;
        bottom: 0;
        right: -100px;
        display: flex;
        align-items: center;
        justify-content: center;
        #prev-1{
            display: initial;
        }
        #prev-2{
            display: none;
        }
        &--prev,
        &--next {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            transition: background-color .3s linear;
        }
        &--prev:hover{
            background: #b5b5b5;
            #prev-1{
                display: none;
            }
            #prev-2{
                display: initial;
            }
        }
        &--next:hover{
            background: #707784;
        }
        &--prev {
            background: #e6e6e6;
            svg {
                transform: rotate(180deg);
            }
        }
        &--next {
            background: #9298a5;
        }
    }
    &__image {
        flex: 0 0 27.083%;
        max-width: 27.083%;
        min-height: 100vh;
        align-self: stretch;
        // height: 100vh;
        position: relative;
        overflow: hidden;
        margin-right: 40px;
        img {
            position: absolute;
            right: 0;
            top: 0;
            min-height: 100%;
            min-width: 100%;
            width: auto;
        }
    }
    &__content {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        margin-left: 11.05%;
        margin-right: 140px;
        position: relative;
        display: flex;
        flex-direction: column;
        .title--line:before {
            left: -90px;
        }
        .scroll-down {
            margin-top: 40px;
        }
    }
    &__title {
        &--vertical {
            display: inline-block;
            width: 0;
            align-self: flex-start;
            font-size: 0.75rem;
            color: $gray;
            text-transform: uppercase;
            -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            white-space: nowrap;
            position: relative;
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 7px;
                height: 50px;
                width: 1px;
                background: $gray;
                top: -70px;
            }
        }
    }
}

.offset-image-row {
    background: #9298a5;
    margin-top: 400px;
    padding-top: 145px;
    padding-bottom: 195px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    &__image {
        position: absolute;
        top: -200px;
        flex: 0 0 43.05%;
        max-width: 43.05%;
        z-index: 0 !important;
    }
    &__content {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        margin-left: 48.05%;
        margin-top: -100px;
        padding-right: 140px;
    }
}

.full-screen-image-row {
    &__image {
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.text-row {
    flex-wrap: wrap;
    display: flex;
    padding-right: 140px;
    padding-left: 140px;
    &__title {
        flex: 0 0 36.53%;
        max-width: 36.53%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    &__content {
        // padding-top: 200px;
        // padding-bottom: 170px;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}

.two-equals-row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 140px;
    padding-right: 140px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    &__block {
        flex: 0 0 50%;
        max-width: 50%;
        &:first-child {
            padding-right: 40px;
        }
        &:last-child {
            padding-left: 40px;
        }
    }
}

.newest-products-container {
    .photo-row {
        // min-height: 100vh;
    }
}

.navigation-row {
    display: flex;
    flex-wrap: wrap;
}

.navigation-row {
    display: flex;
    justify-content: space-between;
    &__link {
        padding-top: 38px;
        padding-bottom: 38px;
        &:first-child {
            padding-left: 140px;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }
        &:last-child {
            padding-right: 140px;
            padding-left: 78px;
        }
        &--light {
            background: #e6e6e6;
            color: #787878;
            .breadcrumbs-link {
                color: inherit !important;
            }
        }
        &--dark {
            background: #9298a5;
            color: $white;
            .breadcrumbs-link {
                color: inherit !important;
            }
        }
    }
}

.text-row {
    h3 {
        font-weight: 400;
        font-size: 1.875rem;
        color: $darkgray;
    }
}

.two-offseted-images-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 140px;
    padding-right: 140px;
    &__block {
        flex: 0 0 57.7%;
        max-width: 57.7%;
        margin-bottom: 98px;
    }
    &__image-right {
        flex: 0 0 36.53%;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        margin-left: 9.65%;
        position: relative;
        z-index: 5;
    }
    &__image-bottom {
        flex: 0 0 72.115%;
        max-width: 72.115%;
        margin-top: -78px;
    }
}

.w-100 {
    width: 100%;
}

.offset-image-center-row {
    margin-top: 0 !important;
    margin-left: 140px;
    margin-right: 140px;
    .offset-image-row__image {
        position: relative;
        top: initial;
        left: -140px;
    }
    .offset-image-row__content {
        margin-left: initial;
        margin-top: initial;
    }
    &__leaf {
        position: absolute;
        z-index: 100;
    }
    &__leaf--first {
        top: 17.778vh;
        left: 27.404vw;
    }
    &__leaf--second {
        top: 38.333vh;
        left: 67.788vw;
    }
    &__leaf--third {
        top: 80.556vh;
        left: 49.038vw;
    }
}

.slider-partners-elem {
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 85px;
    &__img--top {
        margin-bottom: 85px;
    }
    &__img--bottom {
        margin-left: 105px;
    }
}

.slider-partners {
    .slick-track {
        display: flex !important;
    }
    .slick-slide {
        height: inherit !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.blog-container {
    //padding-top: 120px;
    //padding-bottom: 120px;
    padding-bottom: 3rem;
    margin-left: 120px;
    padding-left: 140px;
    .headline {}
}

.slider-blog {
    position: relative;
    width: 265px;
    min-height: 360px;
    overflow: hidden;
    // margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    &__inner {
        flex: 1;
        padding: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    * {
        color: $white;
    }
    &__bg {
        position: absolute;
        max-width: 100%;
        height: auto;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    .headline {
        font-size: 1rem;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.contacts-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    .col-40 {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .col-60 {
        flex: 0 0 60%;
        max-width: 60%;
    }
    &__label {
        font-size: 0.875rem;
        color: #8c8b8b;
        text-transform: uppercase;
        margin-bottom: 40px;
        display: inline-block;
    }
    &__text {
        text-decoration: none;
        font-size: 1.125rem;
        color: $darkgray;
        font-weight: 300;
        margin-bottom: 40px;
        display: inline-block;
    }
    .contacts-info__social {
        display: flex;
        // align-items: center;
        &-item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #c7c7c7;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

.our-achivements-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 140px;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-right: 140px;
    justify-content: space-between;
    align-items: center;
    &__inner {
        position: relative;
    }
    &__v-line {
        position: absolute;
        width: 2px;
        height: calc(100% - 200px);
        background: #e6e6e6;
        top: 5px;
        left: 219px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    &:before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        background: #f7f7f7;
        width: 50%;
        width: calc(50% + 40px);
        height: 100%;
        z-index: -1;
    }
    &__elem {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        &-text {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
            h3 {
                font-size: 1.875rem;
                font-weight: 400;
                color: $darkgray;
            }
        }
        &-counter {
            width: 175px;
            flex: 0 0 175px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-right: 12.5vw;
            &--yellow {
                &::before {
                    background-color: #eda318;
                }
                &::after {
                    border: 10px solid #eda318 !important;
                }
            }
            &--pink {
                &::before {
                    background-color: #d5157c;
                    right: initial;
                    left: -92px;
                    width: 92px !important;
                }
                &::after {
                    border: 10px solid #d5157c !important;
                    right: initial;
                    left: -110px;
                }
            }
            &--green {
                &::before {
                    background-color: #0e7b36;
                }
                &::after {
                    border: 10px solid #0e7b36 !important;
                }
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 30px;
                height: 7px;
                right: -30px;
                margin-top: 8.5%;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 28px;
                height: 28px;
                background: $white;
                border-radius: 50%;
                border: 10px solid #eda318;
                right: -58px;
                margin-top: 8.5%;
            }
            &--large {
                width: 240px;
                flex: 0 0 240px;
                margin-left: 315px;
            }
            &__inner {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 7%;
                text-align: center;
            }
            &__value {
                font-size: 3.125rem;
                font-weight: bold;
                color: $white;
            }
            &__text {
                font-size: 0.75rem;
                font-weight: bold;
                color: $white;
                text-transform: uppercase;
                display: inline-block;
                max-width: 112px;
            }
        }
    }
}

.audience-row {
    // justify-content: center;
    align-items: flex-start;
    &__leaf--first {
        position: absolute;
        left: 3.558vw;
        top: 16.667vh;
    }
    &__leaf--second {
        position: absolute;
        top: 33.333vh;
        left: 14.423vw;
    }
    &__square {
        position: absolute;
        top: 0;
        left: 36.058vw;
        width: 25vw;
        height: 25vw;
        background: #eda318;
        z-index: 0;
    }
    .title {
        position: absolute;
        top: 15.556vh;
        left: 26.923vw;
    }
    .full-height-row__image {
        z-index: -1;
    }
    .paragraph {
        margin-top: 56.667vh;
        z-index: 2;
        position: relative;
    }
}
.trade-marks-weight-container{
    .our-partners-row{
        min-height: calc(100vh - 98px);

    }
}
.trade-marks-images-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 140px;
    margin-right: 140px;
    position: relative;
    &__image-bottom {
        max-width: 61.538%;
        flex: 0 0 61.538%;
        margin-top: 35px;
    }
    &__image-right {
        position: absolute;
        max-width: 46.154%;
        flex: 0 0 46.154%;
        left: 53.846%;
        top: -90px;
    }
    &--inverse {
        .trade-marks-images-row__image-right {
            position: absolute;
            max-width: 46.154%;
            flex: 0 0 46.154%;
            top: -90px;
            left: 0;
        }
        .trade-marks-images-row__image-bottom {
            max-width: 61.538%;
            flex: 0 0 61.538%;
            margin-top: 35px;
            margin-left: auto;
        }
    }
}

.slider-product-small {
    width: 260px;
    height: 260px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: #f7f7f7;
    padding: 27px;
    // margin-right: 60px;
    position: relative;
    &__info {
        position: absolute;
        left: 27px;
        bottom: 27px;
        z-index: 10;
    }
    &__image {
        // margin: 27px;
        max-height: 155px;
        align-self: center;
        position: absolute;
        // top: 27px;
        margin-top: -15px;
        display: block;
    }
    &__counter {
        font-weight: bold;
        font-size: 1.5rem;
        color: $black;
        margin-bottom: 10px;
    }
    &__name {
        font-weight: 400;
        font-size: 1rem;
        color: $gray;
        margin-bottom: 0;
    }
}

.our-partners-row {
    margin-left: 140px;
    .full-height-row__title--vertical {
        margin-top: 10px;
        margin-left: 35px;
        z-index: 100;
        // align-self: initial;
    }
    .paragraph,
    .title {
        margin-right: 140px;
        margin-left: 70px;
    }
}

.blog_page_container {
    .full-height-row__content {
        // padding-top: 120px;
        // padding-bottom: 120px;
        //padding-top: 13.333vh;
        padding-bottom: 3rem;
        height: 100vh;
        overflow: auto;
    }
    .full-height-row {
        &__image {
            overflow: initial;
            max-height: 100vh;
            &-wrapper {
                height: 100%;
                width: 100%;
                position: relative;
                overflow: hidden;
                img {
                    // min-height: initial;
                    // height: 100%;
                }
            }
        }
    }
}

.page-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    // margin-left: 260px;
    // margin-right: 140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cereals-row {
    position: relative;
    overflow: hidden;
    &__parallax-bg {
        position: absolute;
        flex: 1 1;
        height: auto;
        top: 0;
        left: 0;
        img{
            //max-height: 100%;
            //width: auto;
            z-index: -1;
        }
    }
}

.crisps-row {
    position: relative;
    &__leaf--first {
        position: absolute;
        left: 46%;
        top: 0;
    }
}

.storage-row {
    position: relative;
    &__leaf--first {
        position: absolute;
        left: 26.154vw;
        top: 10vh;
    }
    &__leaf--second {
        position: absolute;
        left: 46vw;
        top: 60vh;
    }
}
