$black-3: #0c0c0c;
$black-2: #0d0d0d;
$black-1: #101110;

$black: #151515;
$darkgray: #1b1b1b;
$gray: #6a6a6a;
$white: #fff;
$main-color: #e8b844;


.bl-c {
  color: $black;
}

.w-c {
  color: $white;
}
