@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto|Nova+Round');


%Roboto {
  font-family: 'Roboto', sans-serif;
}

%light {
  font-weight: 300;
}

%regular {
  font-weight: 400;
}

%medium {
  font-weight: 500;
}

h1 {
  @extend %Roboto;
  @extend %light;
  font-size: 6rem;
  letter-spacing: -1.5px;
}

h2 {
  @extend %Roboto;
  @extend %light;
  font-size: 3.75rem;
  letter-spacing: -0.5px;
}

h3 {
  @extend %Roboto;
  @extend %regular;
  font-size: 3rem;
  letter-spacing: 0px;
}

h4 {
  @extend %Roboto;
  @extend %regular;
  font-size: 2.125rem;
  letter-spacing: 0.25px;
}

h5 {
  @extend %Roboto;
  @extend %regular;
  font-size: 1.5rem;
  letter-spacing: 0px;
}

h6 {
  @extend %Roboto;
  @extend %medium;
  font-size: 1.25rem;
  letter-spacing: 0.15px;
}

%st-1 {
  @extend %Roboto;
  @extend %regular;
  font-size: 1rem;
  letter-spacing: 0.15px;
}

%st-2 {
  @extend %Roboto;
  @extend %medium;
  font-size: 0.875rem;
  letter-spacing: 0.1px;
}

%b-1 {
  @extend %Roboto;
  @extend %regular;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

%b-2 {
  @extend %Roboto;
  @extend %regular;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
}

%button {
  @extend %Roboto;
  @extend %medium;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

%caption {
  @extend %Roboto;
  @extend %regular;
  font-size: 0.75rem;
  letter-spacing: 0.4px;
}

%overline {
  @extend %Roboto;
  @extend %regular;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
