@import "animate";
@import "colors";
@import "fonts";
@import "transitions";
/** transitions **/

/** global **/
* {
  @extend %st-1;
}

html, body {
  font-size: 16px;
}

body {
  background: $black-2;
}

h1, h2, h3, h4 {
  color: $white;
}

h5, h6 {
  color: $main-color;
}

p {
  color: $white;
}

a {
  text-decoration: none;
  cursor: pointer;
  @extend %tr-c;
}

button, input, textarea {
  outline: none;
}

button {
  background: transparent;
  border: 1px solid $main-color;
  color: $main-color;
  @extend %overline;
}

/** form **/
form {
  border: 1px solid $darkgray;
  h5 {
    @extend %st-1;
    text-transform: uppercase;
  }
  label {
    color: $gray;
    @extend %st-2;
  }
  [type="text"] {
    text-transform: capitalize;
  }
  input {
    background: transparent;
    color: $white;
    border: none;
    @extend %st-2;
  }
  .form-input-wrapper {
    border-bottom: 1px solid $darkgray;
  }
  .form-input-wrapper {
    &:last-child {
      border-bottom: none;
    }
  }
  .terms-of-use {
    @extend %overline;
  }
  span {
    @extend %caption;
    color: $gray;
  }
  a {
    color: $main-color;
    text-decoration: underline;
    @extend %overline;
    &:hover {
      color: $main-color;
    }
  }
}

/** logo **/
.logo {
  background: $black-3;
  .logo-inner {
    h2 {
      font-family: 'Nova Round', cursive;
      background: $black-3;
      display: inline-block;
      width: auto;
      position: relative;
      span {
        position: absolute;
        top: 55px;
        right: -14px;
        color: $main-color;
      }
    }
  }

}

/** menu **/
#menu-wrapper {

  position: fixed;

  left: -135px;
  top: 0;
  width: 235px;
  min-height: 100vh;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .95);
  border-right: 1px;
  @include transition(left);
  #menu {
    position: relative;
    min-height: inherit;
    #toggler-wrapper {
      transform-origin: center center;
      @include transition(all);
      transition-timing-function: ease-in-out;
      transition-duration: 1s;
      position: absolute;
      top: 40px;
      right: 30px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      #toggler {
        width: 40px;
        height: 24px;
        position: relative;
        span {
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0;
          background: $main-color;
          transform-origin: center center;
          @include transition(all);
          &:first-child {
            top: 0;
          }
          &:nth-child(2) {
            top: 10px;
          }
          &:last-child {
            top: 20px;
          }
        }
      }
    }
    #main-menu {
      ul {
        list-style: none;
        li {
          margin: 30px 0;
          a {
            @extend %overline;
            font-family: 'Open Sans Condensed', sans-serif;
            color: $main-color;
            .indicator {
              display: inline-block;
              box-sizing: border-box;
              cursor: pointer;
              width: 10px;
              height: 10px;
              border: 1px solid $main-color;
              border-radius: 50%;
              background: transparent;
              position: relative;
              margin-left: 48px;
              &:before {
                content: "";
                display: block;
                position: absolute;
                top: -6px;
                left: -6px;
                width: 20px;
                height: 20px;
                background: transparent;
                transform: scale(0);
                border: 1px solid $main-color;
                border-radius: 50%;
                @include transition(transform);
              }
            }
            &:hover {
              text-decoration: none;
              .indicator {
                background: $main-color;
                &:before {
                  transform: scale(1);
                }
              }
            }
          }
        }
        .active {
          .indicator {
            background: $main-color;
            &:before {
              transform: scale(1);
            }
          }

        }
      }
    }

    #menu-logo {
      position: absolute;
      bottom: 40px;
      right: 32px;
      h4 {
        color: $main-color;
        @extend %overline;
        font-family: 'Open Sans Condensed', sans-serif;
      }
    }

  }
}

.show-menu {
  left: 0px !important;
  #menu {
    #toggler-wrapper {
      margin-top: -10px;
      span {

        &:first-child {
          opacity: .0;

        }
        &:nth-child(2) {
          transform: rotate(-45deg);
          top: 20px !important;

        }
        &:last-child {
          transform: rotate(45deg);
          top: 20px !important;
        }
      }
      &:hover {
        transform: rotate(360deg);
      }
    }

  }
}

/** container **/
.container-fluid,.container {
  background: $black-3;
  position: relative;
  z-index: 100;
  > .row {
    z-index: 200;
   
    > .col-md-4 {
      position: relative;
      z-index: 300;
      min-height: 100vh;
      background: $black-2;
      &:first-child {
        background: $black-3;
      }
    }
  }
}

/** keyart **/
/* PARALLAX */
$baseurl: '../img/parallax/';

.body {
  margin: -5px;
}

.keyart, .keyart_layer {
  height: 1000px;

}

#parallax {
  display: block;
}
.keyart_layer{
 // filter: grayscale(50%);
}
.keyart {
  position: relative;
  z-index: 10;
}

.keyart_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.keyart_layer.parallax {
  position: fixed;
}
#keyart-0 {
  background-image: url($baseurl + 'layer-0.png');
  background-color: #8b9cae;
}
#keyart-1 {
  background-image: url($baseurl + 'layer-1.png');
}
#keyart-2 {
  background-image: url($baseurl + 'layer-2.png');
}
#keyart-3 {
  background-image: url($baseurl + 'layer-3.png');
}
#keyart-4 {
  background-image: url($baseurl + 'layer-4.png');
}
#keyart-5 {
  background-image: url($baseurl + 'layer-5.png');
}
#keyart-7 {
  background-image: url($baseurl + 'layer-6.png');
}
#keyart-scrim {
  background-color: #8b9cae;
  opacity: 0;
}

//@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
//  #keyart-0 {
//    background-image: url($baseurl + 'images/parallax/parallax0@2x.png');
//    background-color: #ffaf1b;
//  }
//  #keyart-1 {
//    background-image: url($baseurl + 'images/parallax/parallax1@2x.png');
//  }
//  #keyart-2 {
//    background-image: url($baseurl + 'images/parallax/parallax2@2x.png');
//  }
//  #keyart-3 {
//    background-image: url($baseurl + 'images/parallax/parallax3@2x.png');
//  }
//  #keyart-4 {
//    background-image: url($baseurl + 'images/parallax/parallax4@2x.png');
//  }
//  #keyart-5 {
//    background-image: url($baseurl + 'images/parallax/parallax5@2x.png');
//  }
//  #keyart-6 {
//    background-image: url($baseurl + 'images/parallax/parallax6@2x.png');
//  }
//  #keyart-7 {
//    background-image: url($baseurl + 'images/parallax/parallax7@2x.png');
//  }
//  #keyart-8 {
//    background-image: url($baseurl + 'images/parallax/parallax8@2x.png');
//  }
//}

/** main-container **/
.main-container {
  > .row {
    >.col-md-7{
      position: relative;
      hr{
        border-color: $main-color;
        width: 70px;
       margin-left: 0;
      }
      p{
        color: $gray;
        @extend %Roboto;
        @extend %regular;
        font-size: 1.5rem;

      }
    }
    > .col-md-4 {

      .logo {
        background: transparent !important;
      }
      &:last-child {
        background: url("../img/main-bg.png") no-repeat center/cover;
      }

    }
  }
}

/** business container **/
.business-container {
  > .row {
    .watch-wrapper {
      overflow: hidden;
      position: relative;
      img {
        opacity: .7;
        width: 75%;
        height: auto;
      }
      #instAnim {
        top: 16.3%;
        left: 14.7%;
        transform: rotate(-29.5deg);
        position: absolute;
        svg {
          padding: 5% 10%;
          width: 60%;

        }
        .st0 {
          fill: none;
          stroke: $white;
          stroke-width: 7;
          stroke-linecap: round;
          stroke-miterlimit: 10;
        }
        #littleCircle {
          stroke-dasharray: 150;
          animation: littleCircle 4s linear;

        }
        #camera {
          stroke-dasharray: 300;
          animation: camera 4s linear;

        }
        #lens {
          fill: $white;
          animation: lens 4s linear;

        }
        @keyframes camera {
          0%, 25% {
            stroke-dashoffset: 300;
          }
          50% {
            stroke-dashoffset: 0;
          }
        }
        @keyframes littleCircle {
          0%, 50% {
            stroke-dashoffset: 150;
          }
          75% {
            stroke-dashoffset: 0;
          }
        }
        @keyframes lens {
          0%, 75% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }

    }
    min-height: 100vh;
    .rate-wrapper {
      background-color: $main-color;
      padding: 10px;
      border-radius: 15px;
      .rate {
        list-style: none;
        padding: 0 30px;
        li{
          @extend %st-2;
          .logo{
            background: transparent !important;
            h2{
              background: inherit !important;
              color: $black-3;
              span{
                color: $darkgray;
              }
            }
          }

        }
        .price{
          span{
            @extend %overline;
          }
        }
      }
    }
  }
}

/** media **/
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 375px) {

}
