<!DOCTYPE html>
<html lang="ru" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="../public/images/Logo.png" alt="logo"></a>
            <div class="shopping-cart d-lg-none" style="z-index: 1050;">
                <div class="shopping-cart-wrapper">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <div class="shopping-cart-counter d-flex align-items-center justify-content-center text-center">
                        <span class="counter">{{basketCounter}}</span>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item d-flex align-items-center justify-content-center text-center">
                        <a class="nav-link" href="tiers.html">Шины</a>
                    </li>
                    <li class="nav-item d-flex align-items-center justify-content-center text-center">
                        <a class="nav-link" href="disks.html">Диски</a>
                    </li>
                    <li class="nav-item d-flex align-items-center justify-content-center text-center">
                        <a class="nav-link" href="about.html">О нас</a>
                    </li>
                    <li class="nav-item d-flex align-items-center justify-content-center text-center">
                        <a class="nav-link" href="delivery.html">Доставка/Оплата</a>
                    </li>
                    <li class="nav-item nav-contacts d-flex align-items-center justify-content-center">
                        <div class="row align-items-center justify-content-center d-none d-lg-flex">
                            <div class="col-3 nav-call-i d-flex align-items-center justify-content-center">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="col-9 nav-contacts-info">
                                <ul>
                                    <li>099 099 99 99</li>
                                    <li>099 099 99 99</li>
                                    <li>099 099 99 99</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mr-0 d-flex align-items-center justify-content-center text-center">
                        <div class="row">
                            <div class="col-12 shopping-cart">
                                <div class="shopping-cart-wrapper d-none d-lg-block">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <div class="shopping-cart-counter d-flex align-items-center justify-content-center text-center">
                                        <span class="counter">{{basketCounter}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid main-container">
        <div class="container tier-main-container">
            <transition name="fade">
                <div class="row align-items-center justify-content-center" v-show="!showSelector">
                    <div class="col-lg-4 d-flex align-items-start justify-content-center flex-column main-headers">
                        <h1>Шины</h1>
                        <h2>И диски</h2>
                        <span class="h-line"></span>
                        <h6>
                            Лучшее предложение для вашего автомобиля
                        </h6>
                    </div>
                    <div class="col-8 col-lg-4 wheel-wrapper" v-on:click="showSelector=!showSelector;">
                        <div class="row d-flex align-items-center justify-content-center  ">
                            <img src="../public/images/tier.png" id="tier">
                            <img src="../public/images/disc.png" id="disk">
                        </div>
                        <div class="row align-items-center justify-content-center">
                            <div class="col-12 text-center">
                                <a href="#" class="mda-btn">
                                    Подобрать
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 main-advantages text-right">
                        <ul class="advantages">
                            <li class="d-flex align-items-center justify-content-start"><span
                                    class="o-marker"></span><span
                                    class="adv-inner">Широкий ассортимент</span></li>
                            <li class="d-flex align-items-center justify-content-start"><span
                                    class="o-marker"></span><span
                                    class="adv-inner">Гарантия качества</span></li>
                            <li class="d-flex align-items-center justify-content-start"><span
                                    class="o-marker"></span><span
                                    class="adv-inner">Подбор лучшей модели</span></li>
                            <li class="d-flex align-items-center justify-content-start"><span
                                    class="o-marker"></span><span
                                    class="adv-inner">Быстрая доставка</span></li>
                        </ul>
                    </div>
                </div>
            </transition>
            <transition name="fade">
                <div class="row align-items-center justify-content-center flex-column main-selector-row"
                     v-show="showSelector">
                    <div class="col-lg-8" id="main-selector">
                        <div class="row selector-main flex-column align-items-center justify-content-center">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-tiers-tab" data-toggle="pill"
                                       href="#pills-tiers" role="tab" aria-controls="pills-tiers" aria-selected="true">Шины</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-disks-tab" data-toggle="pill" href="#pills-disks"
                                       role="tab" aria-controls="pills-disks" aria-selected="false">Диски</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-tiers" role="tabpanel"
                                     aria-labelledby="pills-tiers-tab">
                                    <ul class="nav nav-pills mb-3" id="pills-tab-tiers-1" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-tiers-inner-tab-1" data-toggle="pill"
                                               href="#pills-tiers-inner-1" role="tab"
                                               aria-controls="pills-tiers-inner-1" aria-selected="true">По размеру</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-tiers-inner-tab-2" data-toggle="pill"
                                               href="#pills-tiers-inner-2" role="tab"
                                               aria-controls="pills-tiers-inner-2" aria-selected="false">По авто</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent-tiers-1">
                                        <div class="tab-pane fade show active" id="pills-tiers-inner-1" role="tabpanel"
                                             aria-labelledby="pills-tiers-tab-1">
                                            <div class="row form-elements">
                                                <div class="col-lg-3 form-elem">
                                                    <label for="brand" class="mt-2">
                                                        <img src="../public/images/vendor.png" class="selector-icon">
                                                        <span>Бренд</span>
                                                    </label>
                                                    <select v-model="brand" id="brand">
                                                        <option value="">Все</option>
                                                        <option v-for="brand in brands" v-bind:value="brand">{{brand}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 form-elem">
                                                    <label for="height" class="mt-2">
                                                        <img src="../public/images/height.png" class="selector-icon">
                                                        Профиль
                                                    </label>
                                                    <select v-model="height" id="height">
                                                        <option value="">Все</option>
                                                        <option v-for="height in heights" v-bind:value="height">{{height}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 form-elem">
                                                    <label for="width" class="mt-2">
                                                        <img src="../public/images/width.png" class="selector-icon">
                                                        Ширина
                                                    </label>
                                                    <select v-model="width" id="width">
                                                        <option value="">Все</option>
                                                        <option v-for="tier in tiers" v-bind:value="tier.width">{{tier.width}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 form-elem">
                                                    <label for="diameter" class="mt-2">
                                                        <img src="../public/images/diameter.png" class="selector-icon">
                                                        Диаметр
                                                    </label>
                                                    <select v-model="diameter" id="diameter">
                                                        <option value="">Все</option>
                                                        <option v-for="tier in tiers" v-bind:value="tier.diameter">{{tier.diameter}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-elements">
                                                <div class="col-lg-3 form-elem">
                                                    <label for="season" class="mt-2">Сезон</label>
                                                    <select v-model="season" id="season">
                                                        <option value="">Все</option>
                                                        <option value="летняя">Лето</option>
                                                        <option value="зимняя">Зима</option>
                                                        <option value="всесезон">Всесезон</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 form-elem">
                                                    <label for="ship" class="mt-2">Шипы</label>
                                                    <select v-model="ship" id="ship">
                                                        <option value="">Неважно</option>
                                                        <option value="шип">Да</option>
                                                        <option value="нешип">Нет</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 form-elem">
                                                    <label for="reinforced" class="mt-2">Run flat</label>
                                                    <select v-model="reinforced" id="reinforced">
                                                        <option value="">Неважно</option>
                                                        <option value="С">Да</option>
                                                        <option value="null">Нет</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <a href="#" class="mda-btn">
                                                        {{selectedVal}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-tiers-inner-2" role="tabpanel"
                                             aria-labelledby="pills-tiers-tab-2">
                                            2
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-disks" role="tabpanel"
                                     aria-labelledby="pills-disks-tab">
                                    <ul class="nav nav-pills mb-3" id="pills-tab-disks-1" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-disks-inner-tab-1" data-toggle="pill"
                                               href="#pills-disks-inner-1" role="tab"
                                               aria-controls="pills-disks-inner-1" aria-selected="true">По размеру</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-disks-inner-tab-2" data-toggle="pill"
                                               href="#pills-disks-inner-2" role="tab"
                                               aria-controls="pills-disks-inner-2" aria-selected="false">По авто</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent-disks-1">
                                        <div class="tab-pane fade show active" id="pills-disks-inner-1" role="tabpanel"
                                             aria-labelledby="pills-disks-tab-1">
                                            3
                                        </div>
                                        <div class="tab-pane fade" id="pills-disks-inner-2" role="tabpanel"
                                             aria-labelledby="pills-disks-tab-2">
                                            4
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="close-selector" v-on:click="showSelector=!showSelector;">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>

                </div>
            </transition>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../public/javasripts/app.js"></script>
</body>
</html>